body {
    background-color: #f8f8f8;
}
.floatleft .control-label{
    float: left !important;
}
.floatleft .form-control{
    float: left !important;
}
.menuLink{
    float: right;
}
.table-bordered th {font-size:13px;}
.table-bordered td {font-size:13px;}
.table_padding > thead > tr > th,
.table_padding > tbody > tr > th,
.table_padding > tfoot > tr > th,
.table_padding > thead > tr > td,
.table_padding > tbody > tr > td,
.table_padding > tfoot > tr > td {
    padding: 3px !important;
    font-size: 13px !important;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
        margin-top: 51px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: 0 0;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}
.file_upload {
    background: url(../images/upload_file.png);
}

.image_preview {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: 20px;
    width: 95%;
}
.image_js_preview {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 10px;
    margin-left: 20px;
    width: 95%;
}
.image_js_preview img {
    border: 1px solid teal;
    margin: 5px;
}
.image_preview img {
    border: 1px solid teal;
    margin: 5px;
}
.msgLoading{
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: none;
    background: url(../images/bg_black.png) repeat;
}
.loadingImg{
    color: #000;
    width: 15%;
    margin-top: 20%;
    background-color: #fff;
    padding: 15px;
    text-align: center;
    margin-left: 40%;
    border-radius: 2px;
    display: block

}

/* Editor popup css start */
#media-image-file{ 
    margin-top: 20px;
}
#upload-image-file{
    width:100%;
    display:none;
}
.upload-video{
    float: left; background-color: #fff; cursor: pointer; padding: 7px;
}
.upalod-image{
    float: left; background-color: #e3e3e3; cursor: pointer; padding: 7px;
}
.media-image{
    float: left; background-color: #fff; cursor: pointer; padding: 7px;
} 

#main-upload-image-div-bg {
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 999999;
}

#main-upload-image-div-gallery {
    background-color: #000000;
    opacity: 0.6;
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    left: 0;
    z-index: 999999;
} 

#main-upload-image-div {
    border:1px solid #ddd; 
    border-radius:4px; width:643px; height: 415px; 
    position: fixed; 
    top: 50px; 
    margin-left: 27%;
    z-index: 9999999999;
    background-color: #e3e3e3;
    display: none;
}
#mediaImg{
    width:65%;
    border-bottom: 1px solid #c5c5c5;
    height: 315px;
    overflow: auto;
    float: left;
}
#mediaImg ul{
    list-style: none;
}
#mediaImg ul li{
    padding:5px; float:left;
}
.imgSelect{
    cursor:pointer;
}
.imgBtn{
    clear:both; 
    margin-top: 6px; 
    margin-right: 20px; 
    float: right;
}
.closeBtn{
    float:right; 
    margin-top: 8px; 
    margin-right: 8px;
}
.closeBtn img{
    cursor: pointer;
}
/*Editor popup css end*/

.status {
    height: 28px;
    margin-left: 10px;
}
.btn-en-dis{
    padding:2px;
    width: 90px;
    outline: 0!important;
}

.author-id {
    width: 90%;
    margin-top: 5px;
}

.remove {
    float: right;
    margin-top: -22px;
    margin-right: 68px;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 700;
    line-height: 1;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    color: #FC0000;
    border: 1px solid #F42A2A;
}
.imageTitleDiv{
    float: left;
    display: none;
}
.searchImageDiv{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}
.imageRender{
    width: 257px !important;
    float: left !important;
    margin: 10px;
    border-right: solid 1px #eee;
    border-bottom: solid 1px #eee;
    min-height: 71px !important;
}
.renderImageTitle{
    width: 90%; 
    padding-left: 11px;
    padding-bottom: 10px;
}
.renderImageDiv{
    width:93%;
    padding-left: 11px;

}
.renderImageDivButton{
    float: left !important;
}
.renderImageDivAddButton{
    width: 29%;
    float: left;
}
.renderImageDivChosedImage{
    float: right;
    margin-right:-60px;
    width:70px;
    float:right;
    margin-top: -19px
}
.renderPlusIcon{
    float: right;
    color: blue;
    padding-right:5px;
    cursor: pointer;
}
.renderRedIcon{
    float: right;
    color: red;
    padding-right:5px; 
    cursor: pointer;
}
input#content_image {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}

input#location-tags {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}
input#editor-tags {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}
input#name-tags {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}

input#tags {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}

input#featured-content {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}
input#other-section-tags {
    background-image: url(../images/throbber.gif);
    background-repeat: no-repeat;
    background-position: 100% 5px;
}
/*auto complete image css*/
DIV.list_item_container {
    height: auto;
    padding-top: 5px;
    padding-bottom: 7px;
}
DIV.image {
    width:45px;
    /*height: 40px;*/
    margin-left: 10px;
    float: left;
}
DIV.image_title {
    font-size: 13px;
    color: #000;
    margin-left: 5px;
}
.tag {
    margin: 5px;
    border: 1px solid #ccc;
    padding: 5px;

}
.tag span {
    color :red;
    margin-left: 5px;
}
/*auto complete image css*/
.commentDiv{
    width: auto;
    box-shadow: 0px 0px 3px #c5c5c5;
    margin: 5px;
    padding: 5px;
    line-height: 20px;
}
.commentName{
    font-weight: bold;
    float: left;
    text-transform: capitalize;
}
.commentDate{
    float: right;
}
.commentDesc{
    clear: both;
}
.contact_message{
    height: 250px;
    border: solid;
    border-color: beige;
}
.my_panel{
    height: 380px;
    border: solid;
    border-color: beige;
}

.right_class{
    text-align: right;
}

.langBtn{width:35px; border:1px solid #000; float: left; padding: 3px; cursor: pointer; margin-right: 4px;}

.marginLeftRight{margin-left:25px; margin-right: 25px;}

#editor_ifr #tinymce p{text-align: right;}
.nav-tabs>li>a{
    line-height:1.3!important;
}
.header-menu{background-color: #337ab7!important;}
.menu-heading li a{color: #fff!important;}
.menu-heading .open > a:focus{background-color: #fff!important;color: #01a850!important;}
.menu-heading li a:hover{color: #01a850!important;}
.menu-heading li a:hover{background-color: #fff!important;}
.main-heading{color: #fff!important;}
.dropdown-user li a{color: #01a850!important;}
.open ul li a{color: #000!important;}
.divider{background-color: #01a850!important;}
.left_tab{padding-left:0;margin-bottom:0;list-style:none}
.left_tab>li{position:relative;display:block}
.left_tab>li>a{position:relative;display:block;padding:10px 15px}
.left_tab .left_tab-divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
.left_tab>li>a>img{max-width:none} .left_tab>li>a{color:#fff;text-decoration:none}
.left_tab>li,
.left_tab>li>a
{background:#01a850!important;
border:none!important}
.custom-tab{border-bottom: 0!important;}
.custom-tab li a{padding:4px 16px!important;}
.left_tab>li.hasTextbox{
	clear:both;
}
.left_tab>li.hasTextbox a,
.left_tab>li.hasTextbox span{
	display:inline-block;
}
.left_tab>li.hasTextbox a{
	width:74%;
}

.left_tab>li.hasTextbox span{
	width:20%;
}
.left_tab>li.hasTextbox span input{
	width:100%;
}
table.tabelist, td, th {
    border: 1px solid #ccc;

}

table.tabelist, td ,th {
    padding:10px;

}

table.tabelist .tHeading1 {
    background:#d4d9dc;
    font-size:15px;
    color:#000;

}

table.tabelist   .tTable_lable{
    background:#f7f7f7 !important;
    font-weight:bold;
    color:#4f514d;
}

table.tabelist{
    margin-bottom:10px;
    font-size:14px;
    font-family:Arial, Tahoma, Calibri;
    color:#4f514d;
}
.meta_legend{
    border: 1px solid white;
    width: 145px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
}
.gallery_tabs{display: none;}

#all_images li label{ position: relative;}