div.form {
    border: 1px solid #dddddd;
    background: #f9f9f9;
    color: #333333;
    margin : 0;
    padding: 15px;
    width: 100%;
    margin: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

div.portlet div.form {
    border: none;
    background: transparent;
    margin: 0;
    padding: 5px;
    width: 100%z;
}

div.form table.double td,
div.form table.multiple td {
    padding: 0 20px 0 0;
    vertical-align: top;
}

div.form table.double td {
    width: 45%;
}

div.form table.linear td {
    padding: 2px 3px 2px 3px;
    text-align: center;
    vertical-align: middle;
}

div.form p {
    margin: 10px;
    color: #666666;
}

div.form p.hint {
    margin: 0 0 0 110px;
    color: #666666;
}

div.form div.menu {
    text-align: right;
    color: #666666;
}

div.form div.group {
    clear: left;
    padding: 5px;
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #666666;
    background: #eeeeee;
}

div.form div.group a {
    font-size: 8pt;
    font-weight: normal;
}

div.form label {
	margin-right: 20px;
	width: 15%;
	vertical-align: top;
	text-align: right;
}

div.form .row {
	margin: 20px;
}

div.action {
    clear: left;
    /*margin-left: 150px;*/
    margin-top: 0px;
    padding: 5px 0;
}
div.form div.simple,div.form div.complex {
    clear: left;
    padding: 4px 0;
}

div.form div.simple label,
div.form div.complex span.label,
div.form div.complex span label {
    display: block;
    float: left;
    position: initial;
    text-align: right;
    width: 140px;
    margin-top: 5px;/*Modified by mohit*/
}

div.form div.simple div,
div.form div.complex div.panel {
    /*    margin-left: 150px;*/
}

div.form div.complex table.grid td {
    padding: 0 5px 5px 0;
    vertical-align: top;
}

div.form div.complex table.grid td label {
    display: block;
}

div.form div.cpanel {

}

div.form div.cpanelContent {
    padding: 5px 0 10px 0;
}

div.form div.rpanelContent,
div.form div.spanelContent,
div.form div.rpanelContent>label.error,
div.form div.spanelContent>label.error,
div.form div.rpanelContent>div.errorMessage,
div.form div.spanelContent>div.errorMessage
{
    display: inline;
}


div.form form {
    margin: 50;
}

.input-group .form-control {
	padding: 0px;
	float: initial;
}
div.form input[type=text],
div.form input[type=password],
div.form textarea,
div.form select {
    border: 1px solid #cacaca;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	width: 80%;
    border-radius: 3px;
    background-color: #ffffff;
}

div.form input[type=text]:focus,
div.form input[type=password]:focus,
div.form textarea:focus,
div.form select:focus {
    border: 1px solid rgba(82, 168, 236, 0.8);
}

div.form input[type=text],
div.form input[type=password],
div.form textarea {
    padding: 2px;
    /*margin-left: 25px;*/
}

div.form select {
    padding: 1px;
    margin-left: 25px;
}

div.form input[disabled],
div.form checkbox[disabled],
div.form select[disabled],
div.form textarea[disabled] {
    background: #ddd;
}

div.form input.error,
div.form textarea.error,
div.form select.error,
div.form input.error:focus,
div.form textarea.error:focus,
div.form select.error:focus {
    /*background: #feeeee;
    border-color: #c00000;*/
}

input.readonly {
    background: #f0f0f0;
}

label.required {

}

span.required {
    color: #c00000;
}

label.error,
span.error {
    color: #c00000;
}

div.errorSummary {
    border: 2px solid #c00000;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #feeeee;
}

div.errorSummary p {
    margin: 0;
    padding: 5px;
}

div.errorSummary ul {
    margin: 0;
    padding: 0 0 0 20px;
}

div.errorSummary ul li {
    list-style: square;
}

div.errorMessage {
    color: #C00;
    margin-left: 60px;
}

label.error {
    display: block;
}

div.preview {
    border: 1px solid #DDD;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FFFFE0;
}

div.add {
    cursor: pointer;
    width: 60px;
    padding: 2px;
    border: 1px solid #cacaca;
    color: #0088cc;
    text-align: center;
}

div.remove {
    cursor: pointer;
    width: 60px;
    padding: 2px;
    border: 1px solid #cacaca;
    color: #0088cc;
    text-align: center;
}

textarea.template {
    display: none;
}
/* end of common style */

/* start autocomplete style */
.ui-autocomplete
{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 30px;
}

.ui-autocomplete li.ui-menu-item {
    padding: 1px;  /* needed to prevent the item sizes from changing on hover */
}

.ui-autocomplete a.ui-menu-item-alternate
{
    background-color: #eee;
}

.ui-autocomplete-loading
{
    background: url('loading.gif') right center no-repeat;
}

div.successSummary {
    border: 2px solid #00c000;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #feeeee;
}
/* end of autocomplete style */

/* begin button style */
.btn {
    cursor: pointer;
    display: inline-block;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6) );
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    filter:  DXImageTransform.Microsoft.gradient ( startColorstr ='#ffffff', endColorstr = '#e6e6e6', GradientType = 0 );
    padding: 5px 14px 6px;
    margin: 0;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333333;
    font-size: 8pt;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear background-image;
    -moz-transition: 0.1s linear background-image;
    -ms-transition: 0.1s linear background-image;
    -o-transition: 0.1s linear background-image;
    transition: 0.1s linear background-image;
    overflow: visible;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn-primary {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd) );
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd) );
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    filter: progid DXImageTransform.Microsoft.gradient ( startColorstr ='#049cdb', endColorstr = '#0064cd', GradientType = 0 );
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-green {
    color: #ffffff;
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462),to(#57a957) );
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462),color-stop(100%, #57a957) );
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-red {
    color: #ffffff;
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b),to(#c43c35) );
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b),color-stop(100%, #c43c35) );
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn:hover,
.btn-primary:hover,
.btn-green:hover,
.btn-red:hover {
    background-position: 0 -15px;
    text-decoration: none;
}

.btn:hover {
    color: #333333;
}

.btn-primary:hover,
.btn-green:hover,
.btn-red:hover {
    color: #ffffff;
}

/* workarounds */
button.btn-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* end of button style */

/*.special_tr { background-color: #c43c35 }    */
.vip_tr { background-color: #ee5f5b;}
.kv-fileinput-upload {
	display: none
}