html,
body {
    height: 100%;
}
.heading {
	font-weight: bold;
	font-size: 16px;
	background-color: gray;
	color: white;
	text-align: center;
	border: 1px solid #ddd;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #E72621;
    background: #F8D2D2;
    border: 1px solid #F78181;
	border-radius: 5px;
    padding: 10px 0px;
    margin: 0 0 15px 0;
}
.error-summary p{
	text-align: center !important;
}
.site-login .row {
	margin: 45px -15px;
	clear: both;
}

.site-login .row input {
	padding: 13px 5px
}

.site-login p {
	clear: both;
	text-align: left !important;
	margin: 20px 15px;
}