
    .hfe-login-sidebar{
      background-color:#225776;
      padding: 100px 10px 209px 10px;
      margin-bottom:50px;
    }
    .hfe-login-sidebar  h1{
      font-size: 2rem;
      font-weight: bold;
      color:#fff;
      font-family:FreightSans-Pro-Semibold;
      text-transform:uppercase;
    }
    .hfe-login-sidebar p{
      padding:50px 0px 50px 0px;
      color:#fff;
      font-size:19px;
      font-family: textbook;
    }
    .hfe-reg-vender-middle .md-form {
    position: relative;
    margin-top: 1rem;
    margin-bottom:.5rem;
    width:100%;
}
.hfe-login-sidebar .register-btn button{
    width: 175px;
    height: 42px;
    border-radius: 30px;
    border: none;
    background: #38b9c4;
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-family:FreightSans-Pro-Semibold;
}
.hfe-login-sidebar .register-btn button img{
    width: 33px;
    margin-right: 21px;
}
.hfe-reg-vender-middle .md-form input[type=text]{
  border: 1px solid #50ceda;
  border-radius:4px;
  padding-left:16px;
}
.hfe-reg-vender-middle .md-form input[type=text]:focus:not([readonly]){
  border: 1px solid #50ceda;
  box-shadow:0 1px 0px 0px #50ceda;
  border-radius:4px;

}
.hfe-reg-vender-middle .md-form label{
  top:-7px;
  left:15px;
  font-family: textbook;
}
.hfe-reg-vender-middle .md-form input[type=text]:focus:not([readonly])+label{
  color:#225776;
  background:#fff;
  margin-left:5px;
  font-size:25px;
  font-family: textbook;
}
.hfe-reg-vender-middle .md-form input[type=password]:focus:not([readonly]){
  border: 1px solid #50ceda;
  box-shadow:0 1px 0px 0px #50ceda;
  border-radius:4px;
}
.hfe-reg-vender-middle .md-form input[type=password]:focus:not([readonly])+label{
  color:#225776;
  background:#fff;
  margin-left:0px;
  font-size:25px;
  font-family: textbook;
}
.hfe-reg-vender-middle .md-form [type=password]{
  border: 1px solid #50ceda;
  border-radius:4px;
  padding-left:16px;
  font-family: subheading-bold;
}
.hfe-reg-vender-middle .login-btn{
    padding-top:50px;
    padding-bottom:50px;
}
.hfe-reg-vender-middle .vender-circle-btn button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background: #38b9c4;
    color: #fff;
    font-size: 20px;
    text-align: left;
    font-family: FreightSans-Pro-Semibold;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position:relative;
}
.hfe-reg-vender-middle .vender-circle-btn span{
  display:none;
}
.hfe-reg-vender-middle .vender-circle-btn button:hover{
  width: 150px;
    height: 50px;
    border-radius: 86px;
    text-align: left;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.hfe-reg-vender-middle .vender-circle-btn button:hover span{
  display:block;
  padding-left: 43px;
}
.hfe-reg-vender-middle .vender-circle-btn button img{
    width: 28px;
    position:absolute;
    left: 10px;
    top: 12px;
}
.hfe-reg-vender-middle h2{
    color: #225776;
    font-size: 2rem;
    font-weight: bold;
    font-family: heading-bold;
}
.hfe-reg-vender-middle .fs-label-wrap {
    border: 1px solid #50ceda;
    height: 40px;
    border-radius: 4px;
}
.hfe-reg-vender-middle .fs-wrap {
  width: 100%;
}
.hfe-reg-vender-middle  .fs-dropdown {
    width:94%;
    border: 1px solid #38b9c4;
}
.hfe-reg-vender-middle .multioption label{
  color:#225776;
  background:#fff;
  margin-left:5px;
  font-size:20px;
  font-family: textbook;
  padding-top:15px;
}
.hfe-reg-vender-middle .fs-search {
  display:none;
}
.hfe-reg-vender-middle .fs-wrap.multiple .fs-option .fs-checkbox i {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle  .fs-wrap.multiple .fs-option.selected .fs-checkbox i {
    background-color:#38b9c4;
    background-image: url(img/tick-icon.png)!important;
  }
  .hfe-reg-vender-middle  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #38b9c4;
    background-color: #38b9c4;
}
.hfe-reg-vender-middle  .custom-control-label::before {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle  .custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(img/tick-icon.png)!important;
  background-size:20px 20px;
}
.hfe-reg-vender-middle .custom-control-label::after {
    width: 20px;
    height: 20px;
}
.hfe-reg-vender-middle .md-form label.active {
  color:#225776;
  background:#fff;
  margin-left:5px;
  font-size:25px;

}
.hfe-reg-vender-middle .md-form{
  color:#225776;
  background:#fff;
  margin-left:0px;
  font-size:25px;
  width:96%;
  border-radius: 8px!important;
}
#calcform .md-form{
  border-radius: 8px!important;
}
.hfe-reg-vender-middle .custom-file-label {
    border: 1px solid #50ceda;

}
.hfe-reg-vender-middle .form-control {
    border: 1px solid #50ceda;
}
