
:root {
  --themecolor: #3c4c6a;
  --white: #ffffff;
  --black:#333;
  --red:#cc441c;
  --theme:#50ced8;
  --textcolor:#766f6f;
   --btn:#184155;
   --btncolor:#ffca5a;
   --themeblue:#50ced8;
   --secbg: #f2f2f2;
   --heading: #50ced8;
}
.d-hidden{display: none!important;}
.form-control:focus{box-shadow: none;}
.c-logo-wrap{
    
height: 100%;
    
display: flex;
    
align-items: center;
}

body{
  /* font-family: "Open Sans", sans-serif; */
  font-family: FreightSans-Pro-Medium;
  overflow-x: hidden;
}
.header {
    position: relative;
    background-color: #ffffff;
    padding: 10px 0px 0px 0px;
    /* border-bottom: 1px solid #efefef; */
}

.header .c-header-wrap .c-logo {
    /* width: 258px; */
    /* -webkit-flex-shrink: 0; */
    -ms-flex-negative: 0;
    /* flex-shrink: 0; */
    /* position: relative; */
    /* padding-top: 27.13%; */
}
.header .c-header-wrap .c-logo a {
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    width: 100%;
    height: 100%;
    display: block;
}
.header .c-header-wrap .c-logo a img {
    /* height: 100%; */
    width: 150px;
}

.header .mbl-nav {
    display: none;
}
.header nav a.searchopen img {
    width: 14px;
    height: 14px;
}
.yas-search--form {
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header .c-header-wrap .yas-search--form {
    top: -100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    padding: 15px;
    background-color:var(--themeblue);
    z-index: 11;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.newsroom-sec1bottom {
    margin-bottom: 140px;
    margin-top: 140px;
}

.blog-search {
    padding: 15px;
    font-size: 25px;
    border: none;
    float: left;
    width: 100%;
    border-bottom: 2px solid #ddd;
    /* background: #fbfbfb; */
}
.blog-btn {
    float: left;
    width: 20%;
    padding: 13px;
    background: #ddd;
    font-size: 17px;
    border: none;
    display: none;
    cursor: pointer;
}
.yas-search--form .yas-search--content {
    background-color: #ffffff;
    border: 1px solid #444F5D;
    padding: 7px 8px;
    border-radius: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.yas-search--form .yas-search--icon {
    width: 27px;
    height: 27px;
    margin: 0 10px;
}
.yas-search--form .yas-search--input {
    background: none;
    border: none;
    outline: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    color: #444F5D;
}
.header .c-header-wrap .c-nav-wrapper nav {
    /* display: inline-block; */
}
.header .c-header-wrap .c-nav-wrapper ul {
    display: block;
    margin: 0;
    padding: 0;
    /* position: relative; */
}
.header .c-header-wrap .c-nav-wrapper ul li {
    /* position: relative; */
    display: inline-block;
}
.header .c-header-wrap .c-nav-wrapper ul li a {
    position: relative;
    display: inline-block;
    color: #444F5D;
    font-size: 16px;
    padding: 40px 15px;
    text-decoration: none;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-weight: 600;
}
.header .c-header-wrap .c-nav-wrapper ul li.active > a {
    color: #1686BC;
}

.header .c-header-wrap .c-nav-wrapper ul li a.desktop-menu {
    display: block;
}
/*.header .c-header-wrap .c-nav-wrapper ul li a.desktop-menu:before {
    content: "\f107";
    width: 10px;
    height: 6px;
    position: absolute;
    right: 8px;
    top: 37%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
    background: url(../images/icon/ic-down-grey.svg) no-repeat;
    background-size: 10px auto;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    font-family: FontAwesome;
}*/
.header .c-header-wrap .c-nav-wrapper ul li a.main_p_menu.active:before {
    content: "";
    height: 4px;
    position: absolute;
    -o-transition: all 0.25s linear;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #444F5D;
 
    transition: .5s ease;
    width: 100%;
}
.header .c-header-wrap .c-nav-wrapper ul li a.main_p_menu::before {
    content: "";
  
    height: 5px;
    position: absolute;
    -o-transition: all 0.25s linear;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: #444F5D;
    transition: .5s ease;
    width: 0px;
}
.header .c-header-wrap .c-nav-wrapper ul li a.main_p_menu:hover::before{
       width: 100%;
}
.header .c-header-wrap .c-nav-wrapper ul li.active > a:before {
    /* background: url(../images/ic-down-primary.svg); */
}
.header .c-header-wrap .c-nav-wrapper nav ul li.has-sub-menu a:before {
}
.header .c-header-wrap .c-nav-wrapper ul li.active > a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #1686BC;
    display: none;
}
.header .c-header-wrap .c-nav-wrapper ul li a.mob-menu {
    display: none;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap {
    position: absolute;
    z-index: 4;
    background-color: var(--theme);
    border-radius: 10px;
    top: 80px;
    left: 0;
    -webkit-transform: translateX(-30%);
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0;
}
.header .c-header-wrap .c-nav-wrapper ul li:hover .c-sub-menu--wrap {
    opacity: 1;
    visibility: visible;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .caret-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0;
    left: 35%;
    background-color: var(--theme);
    border-radius: 0 4px;
    -webkit-transform: rotate(
-45deg
) translate(0, -50%);
    -ms-transform: rotate(-45deg) translate(0, -50%);
    transform: rotate(
-45deg
) translate(0, -50%);
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .c-sub-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .c-sub-menu {
    padding: 30px;
    width: 270px;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap a {
    display: block;
    color: #ffffff;
    font-size: 15px;
    padding: 8px 0;
    line-height: 1.2;
    font-weight: 300;
    font-size: 12px;
}
.header .c-header-wrap .c-nav-wrapper ul li a.mob-menu {
    display: none;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .back-menu-mbl {
    display: none;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .c-sub-menu .c-sub-menu--title {
    font-size: 18px;
    font-weight: 500;
}
.header .c-header-wrap .c-nav-wrapper ul li .c-sub-menu--wrap .c-sub-menu .c-sub-menu--title:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    margin-top: 10px;
    background-color: #ffffff;
}
/*1400*/
@media screen and (max-width: 1400px){
.header .c-header-wrap .c-nav-wrapper nav ul li a {
    padding: 10px 15px;
}
.header .c-header-wrap .c-nav-wrapper nav ul li.has-sub-menu a {
    padding-right: 20px;
}
}
.n_home_slider_item{background-image:url(../images/banner.jpg);padding: 30px 50px;min-height: 70vh;background-size: 100% 100%;color: #fff;display: flex!important;align-items: center;background-repeat: no-repeat;}
.n_home_slider_item h4{}
.n_home_slider_item p{}
.n_home_slider_item button{}
.n_home_slider_item .btn_transparent{box-shadow: 0 8px 17px 2px rgb(255 255 255 / 5%), 0 3px 14px 2px rgb(255 255 255 / 0%), 0 5px 5px -3px rgb(255 255 255 / 20%);border: 1px  solid #fff;padding: 10px 20px;text-transform: uppercase;font-weight: 600;letter-spacing: 1px;display: inline-block!important;}
.btn_transparent{}
.n_home_slider {
    /* margin-bottom: 0px; */
}
/*.n_home_slider_item::before{content: '';position: absolute;left: 0px;right: 0px;background: #3333331a;top: 0px;bottom: 0px;}*/
.n_home_slider_item_data{
    position: relative;
    z-index: 9;
    height: 100%;
    display: block;
    /* text-shadow: 2px 2px 2px #655858; */
    width: 100%;
}
.n_home_slider .slick-prev{
    left: 10px;
    z-index: 2;
}
.n_home_slider .slick-arrow{}
.n_home_slider .slick-next{
    right: 10px;
}
.n_home_slider .slick-next:before{
    content: "\f061";
    font-family: FontAwesome
}
.n_home_slider_item_data p
{
    font-size: 25px;
}
.n_home_slider .slick-prev:before{
    content: "\f060";
    font-family: FontAwesome
}
.n_home_slider_item_data h4{
    font-size: 60px;
    font-weight: 700;
    line-height: 80px;
}
.search_header_btn{font-weight: 100!important;}
.searchmodal{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #000000b0;
    overflow: hidden!important;
}
.searchmodal .modal-dialog{
    width: 100%;
    max-width: 100%;
    margin: 0px;
    height: 100%;
}
.searchmodal .modal-content{
    height: 100%;
    /*background: transparent;*/
}
.searchmodal .modal-body{}
.searchmodal .close{
    width: 40px;
    height: 40px;
    background: #fff;
    opacity: 1;
    border-radius: 50%;
}
.searchmodal_container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.btn_theme{}
.searchmodal_container .btn_theme{
    padding: 0px 40px;
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    background: var(--themeblue);
    border: 0px;
    color: #ffffff;
    border-radius: 4px;
    text-transform: uppercase;
}
.searchmodal_container span{
    position: absolute;
    left: 12px;
    color: #333;
    top: 20px;
}
.searchmodal_container .form-control{
    padding: 20px 20px;
    height: auto;
    padding-left: 40px;
}
.searchmodal_container span .fa{
    color: var(--themecolor);
}
.searchmodal_container_item{
    width: 80%;
    position: relative;
    margin: auto;
}
.searchmodal_container_heding h3{
    text-align: center;
    font-size: 40px;
    color: var(--themecolor);
    margin-bottom: 20px;
    font-weight: 600;
}
.searchmodal_container_heding{
    width: 100%;
}
.searchmodal_container_heding h3{}
.verticle_center_slider{
    margin: auto;
    text-align: center;
}
.verticle_left_slider{}
.verticle_right_slider{
    margin-left: auto;
    text-align: right;
}

.theme_sec{
    padding: 30px 0px;
}

/*video section*/
.n_video_section{
    /* font-family: 'Nunito', sans-serif; */
}
.n_big_video{}
.n_big_video iframe{}
.n_big_video_thubnail{
    /* background: #fff; */
    padding: 0px;
}
.n_btn_play{
    display: block;
    position: relative;
}
.n_btn_play img{
    max-width: 100%;
    width: 100%;
    border-radius: 5px;
}
.n_btn_play::before{
    background: #393d41;
    border: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: 30px;
    height: 3.75rem;
    left: 50%;
    opacity: .5;
    padding-top: 10px;
    padding-left: 18px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transition: background .2s ease;
    transition: background .2s ease;
    width: 3.75rem;
    content: "\f04b";
    font-family: 'FontAwesome';
    transform: translate(-50%,-50%);
    z-index: 9;
    display: none;
}
.n_widget_latest_videos__box {
    max-width: 30%;
    margin-right: 12px;
    height: 100px;
}
.n_widget_latest_videos figcaption {
    flex-basis: 70%;
    max-width: 70%;
}
.n_widget_latest_videos__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}
.n_video_widget_content h6 {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
}
.n_video_sidebar_heading{
    font-weight: 400;
    font-size: 24px;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
    margin-bottom: 30px;
    padding-left: 0px;
}
.n_video_sidebar{
    background: #ffffff;
    padding: 10px;
}
.n_widget_most_view__title_link {
    color: #333;
}
.n_widget_latest_videos .small{
    color: var(--textcolor);
    font-size: 12px;
    font-weight: 600;
}
.n_widget_latest_videos p{
    font-size: 14px;
}
.n_widget_latest_videos {
    border-bottom: 1px solid #fff0f0;
    padding-bottom: 10px;
}
.n_widget_latest_videos:last-child{
    border-bottom: 0px;
}
.n_video_sidebar_heading::before{content: '';width: 50%;height: 2px;background: #50ced8;left: 0px;bottom: 0px;position: absolute;z-index: 0;}
.n_big_video_thubnail_data{
    padding: 0px 0px;
}
.n_big_video_thubnail_data p{
    /* font-size: 18px; */
    line-height: 2;
    color: #333;
    font-weight: 400;
}
.n_big_video_thubnail_data .title{
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 5px;
    line-height: 2;
    color: #fff;
}
.post-meta{
    margin-bottom: 15px;
}
.n_date{}
.post-meta span {
    color: #b0b0b0;
    font-size: 14px;
    letter-spacing: 0.5px;
    white-space: nowrap;
    margin-right: 7px;
}
.post-meta .fa{
    margin-right: 6px;
}
.bg_sec{
    background-color: var(--secbg);
}
.n_big_video_thubnail_data .title a{
    color: var(--btn);
}
/*end video section */


.irrelease {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 30px 0px;
}
#irrelease-new .blue-rows-container .ir-box {
    padding: 1em;
}
#box-graph, #irrelease-report, #irrelease-financial {
    border: 1px solid #18415575;
    border-radius: 7px;
    height: 100%;
    background: var(--btn);
    color: #fff;
}
.box-graph-in {
    padding: 1em;
    height: 100%;
    color: #184155;
}

.timi-klisimatos {
    /*border-bottom: 1px solid rgb(255 255 255 / 0.2);*/
    width: 100%;
}
.box-graph-title h3, .irrelease-report h3, .irrelease-financial h3 {
    margin-bottom: 0;
    font-size: 1.2em;
    max-width: 80%;
    display: inline;
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
}
#irrelease-new .date-icon {
    max-height: 1.5em;
    vertical-align: text-bottom;
    margin-left: 0.8em;
}
.timi-klisimatos-in {
    width: 100%;
    margin: 10px 0px;
}
#box-graph .above-info {
    font-size: 14px;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 400;
}
#box-graph p {
    margin-bottom: 0;
    width: 100%;
    color: #fff;
}

}
#stock-status.up {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
    background-image: url(https://www.terna-energy.com/wp-content/themes/cloudevo-terna/images/change_up_x64.png);
    vertical-align: top;
}
.stock_value.change {
    vertical-align: top;
}


.kefaleopoiisi {
    margin: 10px 0px;
    align-self: self-start;
}
.stock_value.current {
    font-size: 3em;
    font-family: 'cf_asty_stdbold';
    line-height: 1.1;
}

.kefaleopoiisi-info {
    font-size: 2em;
    font-family: 'cf_asty_stdmedium';
    line-height: 1.1;
    color: #fff;
}
.heading{
    font-size: 30px;
    font-weight: 600;
    /* text-align: center; */
}
.default_sec{
    padding: 30px 0px;
}
#irrelease-new .blue-rows-container .ir-box {
    padding: 1em;
    padding-top: 0px;
}
#irrelease-report {
    height: 100%;
    padding: 1em;
}
.irrelease-report-preview {
    padding: 2em 1em;
}
#irrelease-report .p-reed {
    text-transform: uppercase;
    font-size: 0.8em;
    display: flex;
    white-space: pre;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    color: #ffffff;
    font-weight: 600;
}
#irrelease-report .pr-line {
    width: 100%;
    height: 1px;
    align-self: center;
    margin-left: 1em;
    background-color: #ffffff;
}
.irrelease-financial {
    flex-flow: column;
    justify-content: flex-end;
    display: flex;
    align-self: unset;
    margin-top: unset;
}
.irrelease-report-title, .irrelease-financial-title {
    justify-content: center;
    width: 100%;
    color: #333;
}
.irrelease-financial-title {
    padding: 1em;
    align-items: flex-start;
    width: 100%;
}
.irrelease-financial-title {
    padding: 1em 2em;
}
.date-icon {
    max-width: 40px;
}
.irrelease-financial-content {
    padding: 0 2em;
    color: #fff;
}
#irrelease-new .growth-item {
    flex-direction: row;
    width: 100%;
    padding: 5px 0px;
    margin: 10px 0px;
}
.growth-item {
    display: flex;
   
}
#irrelease-new div[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}
#irrelease-new .growth-item>div:first-of-type {
    /*border-right: 1px solid rgb(255 255 255 / 0.2);*/
    text-align: center;
    margin: auto;
}
#irrelease-new .growth-item img {
    max-width: 4.7em;
    padding-right: 0.5em;
    max-height: 3em;
}
#irrelease-financial .above-info {
    font-size: 0.7em;
    color: #fff;
    margin-bottom: 0;
}
#irrelease-financial .growth-item h4 {
    font-size: 16px;
    margin-bottom: 0px;
    /*background: #2d7090f7;*/
    padding: 5px;
}
#irrelease-new .growth-item>div:nth-of-type(2) {
    padding-left: 1em;
    align-self: flex-end;
}


/*blog and othe sec */
.n_all_box_4{
    height: 100%;
    background: var(--theme);
}
.n_all_box_4 ul{
    margin: 0px;
    padding: 0px;
}
.n_all_box_4 ul li{
    float: left;
    width: 50%;
    list-style: none;
    height: 200px;
}
.n_all_box_4_1{
    background-color: var(--theme);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 38px 20px 30px 30px;
    height: 100%;
}
.n_all_box_4_1 h4{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 300;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.n_all_box_4_1_view{
    align-items: center;
    color: #393a3b;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    line-height: 2.16667;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    transform: translate3D(0,0,0);
    color: #fff;
    position: relative;
    margin: 0px;
    width: auto;
}
.n_all_box_4_1_img{
    height: 100%;
    position: relative;
    /*border: 1px solid #fff;*/
    border-bottom: 0px;
    border-left: 0px;
    overflow: hidden;
}
.n_all_box_4_1_img img{
    width: 100%;
    height: 100%;
    transition: all .2s;
}
.n_all_box_4_1_img_more{
    background-color: #ffca5a;
    color: #fff;
    font-weight: 400;
    font-size: .7rem;
    padding: 3px 5px;
    text-transform: uppercase;
    margin: 0px;
    display: inline-block;
    line-height: 20px;
    border-radius: 4px;
    text-shadow: none;
    color: #333;
}
.block_featured_news__news_heading{
    color: #fff;
    font-size: 16px;

    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 0;
    text-transform: none;
    width: 100%;
    font-weight: 700;
        display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.n_blog_other{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
.pd_0_blog_other{
    padding: 0px;
}
.mr_0{
    margin: 0px;
}
.n_all_box_4_1_img_des{
    position: absolute;
    top: 0px;
    color: #fff;
    display: flex;
    align-items: center;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 0px;
}
.n_all_box_4_1_img_des a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-end;
    padding: 10px;
    position: relative;
    color: #fff;
}
.n_all_box_4_1_img_des a{
    text-shadow: 1px 1px 1px #333;
}
.n_sec7-right-content iframe{
    width: 100%!important;
    height: 100%!important;
}
.socialcard{
    padding: 10px;
    height: 270px;
    /*   border-right: 1px solid #fff;
    border-top: 1px solid #fff;*/
    box-shadow: 0 2px 5px 0 rgb(255 255 255 / 16%), 0 2px 10px 0 rgb(86 76 76 / 12%);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}
.n_sec7-right-content{
    height: 100%;
}
.n_all_box_4_1_view::after{position: absolute;content: "\f054";font-family: 'FontAwesome';right: -25px;transition: all 1s;}
.n_all_box_4_1_view:hover::after{right: -30px;}
.n_all_box_4_1_view:hover{color: #fff;}
.height_200{
    height: 200px;
}
.n_all_box_4_1_img_des::before{content: '';left: 0px;right: 0px;top: 0px;bottom: 0px;background: #33333347;position: absolute;}
.n_all_box_4 ul li:nth-child(1) .n_all_box_4_1{
    border: 1px solid #fff;
    border-bottom: 0px;
    border-left: 0px;
}
.n_blog_date{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.n_big_video_thubnail_data{
    text-align: center;
}
.n_big_video_thubnail_data .n_all_box_4_1_view{
    /* color: var(--btn); */
}
.footer-section {
    background: var(--btn)
}


/*new hfe statics */
section.infoSection {
    margin-bottom: 0px;
    padding-top: 82px;
    overflow:hidden;
}
h2.section-title {
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 40px;
    opacity: 0.4;
    /* line-height: 1.5; */
    color: var(--themecolor);
}
h3.section-subtitle {
    font-family: din36040;
    font-size: 165%;
}
.infoSection h3.section-subtitle {
    margin-top: 0px;
}
.info-table {
    margin-top: 0px;
    color: #002D5B;
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}
.table-col-info:nth-child(1) {
    text-align: right;
}
.img-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 50vh;
    vertical-align: top;
        padding-bottom: 45vh;
}
.table-col-info .text-wrapper {
    display: inline-block;
    /* padding-bottom: 30vh; */
    text-align: center;
    position: relative;
    vertical-align: bottom;
    padding: 10px 5px;
}
.table-col-info .text-wrapper {width: 100%;}
.table-col-info:nth-child(1) .text-wrapper {
    width: 100%;
    background: var(--themeblue);
    margin-top: 30px;
    color: #fff;
}
.text-wrapper-caption {
    width: 100%;
}
.text-wrapper-caption .info-number {
font-size: 30px;
    font-weight: 600;
    line-height: 28px;
}
.text-wrapper-caption .info-title {
    font-size: 16px;
    text-transform: capitalize;
}
/*dddd*/
.text-wrapper:after {
    display: none;
    content: "";
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 16px solid #85c164;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -14px;
    pointer-events: none;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}
.table-col-info:nth-child(1) .text-wrapper:after {
    border-bottom: 16px solid #2DCCD3;
    border-top: 0;
    top: -14px;
    content: '';
    bottom: auto;
}
.n_middle_statics .table-col-info:nth-child(1) .changeColorElement{
    background: var(--secbg);
    color: #444F5D;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 30px;
}
.n_middle_statics .table-col-info:nth-child(1) .text-wrapper:after{
    top: auto;
    bottom: -14px;
    border-bottom: 16px solid #ef413d;
    transform: rotate(180deg);
}

.n_middle_statics .table-col-info:nth-child(2) .changeColorElement
{
    background: var(--themeblue);
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0px;
}
.n_middle_statics .table-col-info:nth-child(2) .text-wrapper:after{
    bottom: auto;
    top: -14px;
    transform: rotate(180deg);
    border-top: 16px solid #ffca5a;
}
.table-col-info.table-col-info_last .changeColorElement{
    
background: var(--secbg);
    
color: #444F5D;
    
margin-bottom: 30px;
}
.n_video_section {
    margin-bottom: 30px;
    padding: 80px 40px;
}
.btn_transparent 
{border: 1px solid;padding: 10px 20px;font-weight: 600;border-radius: 2px;text-transform: uppercase;font-size: 14px;display: inline-block;text-shadow: 2px 2px 2px #65585814;}
.btn_transparent_color{
    border-color: var(--btn);
    color: #333;
}
.n_big_video_thubnail .n_btn_play::after{
    content: '';
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
        background: #33333340;
    position: absolute;
}
.n_btn_play_remove::before{
    display: none;
}
a.animated-button.thar-four {
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #ffca5a;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s: ;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: inline-block;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgb(0 0 0 / 20%), 0 1px 0 rgb(0 0 0 / 20%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
a.animated-button.thar-four:before {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #ffca5a;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s: ;
}
a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}
a.animated-button.thar-four:hover:before {
    right: 0%;
    left: auto;
    width: 100%;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}
a.animated-button.thar-four:hover{color: #fff;}
 
  .backgroundRed1{
        background-color: #b36b00;
    }
    .backgroundRed2{
        background-color: #e68a00;
    }
    .backgroundRed3{
        background-color: #008000;
    }
    .backgroundRed4{
        background-color: #ff6666;
    }
    .backgroundRed5{
        background-color: #008000;
    }
    .backgroundRed6{
        background-color: red;
    }
    .backgroundRed7{
        background-color:red;
    }
    .explpre_mores_other{position: relative;}
    .explpre_mores_other::after{
    position: absolute;
    content: "\f054";
    font-family: 'FontAwesome';
    right: 25px;
    transition: all 1s;
    font-size: 20px;
    bottom: 8px;
    }
    .explpre_mores_other:hover::after{
    right: 10px;
}
    .img-wrapper {
    /*border: 4px solid #ffca5a;*/
    border-radius: 0px;
}
/*.table-col-info:nth-child(1) .img-wrapper{
    border-color: #2dccd3;
}
.n_middle_statics .table-col-info:nth-child(1) .img-wrapper{
    border-color: #ef413d;
}
.table-col-info.table-col-info_last .img-wrapper
{
    border-color: #85c164;
}*/

.circle {
  stroke: var(--themeblue);
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0.3;
  /*dsdsdsd */
  stroke-dashoffset: 0;
  opacity: 1;
}

.playBut {
  /*  border: 1px solid red;*/
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  position: absolute;
  z-index: 9;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.playBut .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: var(--themeblue);
  transform: translateY(0);
  /*dddddddd*/
}
.playBut:hover .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: #f8aa28;
  animation: nudge 0.7s ease-in-out;
}
@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}
.playBut:hover .circle {
  stroke-dashoffset: 0;
  opacity: 1;
}
.playBut svg{
    width: 80px;
    height: 80px;
    color: #fff;
    fill: #fff;
}
.n_big_video_thubnail .top_banner_owl_button img{
    /* height: 300px; */
}
.n_all_box_4_1_img:hover img{    transform: scale(1.1);}
.header .c-header-wrap .c-nav-wrapper nav ul li a.btn_enq_header_n1{
      background-color: var(--themeblue);
      margin: 20px 0px;
      padding: 6px 10px;
      color: #fff;
      border-radius: 4px;
}
    .copy-right {
    padding-top:20px;
}
.copy-right p {
    font-size: 12px;
}
.footer hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #fff;
    width: 57%;
    margin-left: 39px;
}

  .social ul .facebook a span{
    position: absolute;
    top: 35px;
    left: -45px;
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
  .social ul .twitter a span{
       position: absolute;
    top: 70px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
  .social ul .facebook :hover span{
    position: absolute;
    top: 35px;
    left: 7px;
    font-size: 15px;
    font-size: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }
   .social ul .twitter :hover span{
    position: absolute;
    top: 70px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }
   .social ul .linkedin a span{
       position: absolute;
    top: 100px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
   .social ul .linkedin :hover span{
        position: absolute;
        top: 108px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }

   .insta p {
    background: #c7c5c6;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin-left: 20px;
    text-align: center;
  }
  .insta:hover p {
    background:none;
    
  }
   .social ul .insta a span{
       position: absolute;
    top: -3px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
   .social ul .insta :hover span{
      position: absolute;
    top:-3px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    background:none;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }

  
   .social ul .instagram a span{
       position: absolute;
    top: 97px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
   .social ul .instagram :hover span{
        position: absolute;
    top:-3px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }
   .social ul .youtube a span{
       position: absolute;
    top: 131px;
    font-size: 15px;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    visibility: hidden;
    width: 1px;
    z-index: 1;
  }
   .social ul .youtube :hover span{
        position: absolute;
    top: 144px;
    font-size: 15px;
    right: 36px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    transform: translateX(13px);
    visibility: visible;
    z-index: 1;
    transition: transform 300ms ease-in,opacity 300ms ease-in 30ms;
  }
  /***********footer***********/
 
  .backgroundRed1{
        background-color: #b36b00;
    }
    .backgroundRed2{
        background-color: #e68a00;
    }
    .backgroundRed3{
        background-color: #008000;
    }
    .backgroundRed4{
        background-color: #ff6666;
    }
    .backgroundRed5{
        background-color: #008000;
    }
    .backgroundRed6{
        background-color: red;
    }
    .backgroundRed7{
        background-color:red;
    }
    .social ul li a{color: #333;}
    .back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 15px;
    z-index: 9;
}
.back-to-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background: var(--themeblue);
    color: #fff;
    transition: all 0.4s;
}

.n_home_slider .slick-dots li button{
      background: #D6D6D6;
      padding: 0px;
    opacity: 1;
    width: 38px;
    height: 5px;
    border-radius: 30px;
}
.n_home_slider .slick-dots li button::before{display: none;}
.n_home_slider .slick-dots li{width: auto;height: auto;}
.n_home_slider .slick-dots{bottom: 15px;}
.n_home_slider .slick-dots li.slick-active button{background: var(--theme);}




.height_560{height: 560px;}
.n_item_box_listig_container{display: flex;}
.n_item_box_listig_container .n_item_box_listig{width: 350px;}
.n_item_box_listig_container .n_item_box_listig:nth-child(2) .n_all_box_4_1_img:first-child {
width: 100%;
    height: 280px;

}
.n_item_box_listig_container .n_item_box_listig:nth-child(2) .n_all_box_4_1_img:nth-child(2) {width: 100%;height: 140px;border-bottom: 1px solid #fff;}
.n_item_box_listig_container .n_item_box_listig:nth-child(2) .n_all_box_4_1_img:nth-child(3) {
width: 100%;
    height: 140px;
}
.align_center{display: flex;height: 100%;align-items: center;}

.n_blog_sc_tr_item{}
.n_blog_sc_tr{display: flex; max-width: 100%}
.n_right_blog_sec{padding: 50px 70px;}
.change_article_big.active img{
        transform: scale(1.1);
        /*display: none;*/
}
.n_right_blog_sec{display: none;}
.n_right_blog_sec.active{display: block;}
.n_home_slider_item_data .btnallred span{color: #fff;}
.modal_hdeadign{color: var(--themecolor);
    font-size: 24px;
    text-align: center;
    margin-bottom: 15px;}
    .height_140{height: 280px!important;}
.change_article_big .n_all_box_4_1_img:first-child{    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;}
.change_article_big .n_all_box_4_1_img:last-child{   
}
.n_item_box_listig_container .n_item_box_listig:nth-child(2){width: 270px;}
.n_video_section h2.section-title.n1_blog_heading{
    opacity: 0.6;
    font-size: 60px;
    font-weight: 700;
    /*font-style: italic;*/
}
.n1_slider_partner .slick-slide img{max-width: 100%;max-height: 200px;display: inline-block;}
.n1_slider_partner .slick-slide {text-align: center;}
.n1_slider_partner_item{padding: 10px;
    display: flex!important;
    align-items: center;
    height: auto;
    FONT-WEIGHT: 100;}
.irrelease-financial-content .slick-list{padding: 10px;}
#irrelease-financial .growth-item h4 span{    
    font-size: 20px;
    font-weight: 800;
    color: var(--btncolor);}
    .enquire_now .modal-dialog{max-width: 700px;}
    .enquire_now .close{position: absolute;
    right: 15px;z-index: 99;}
    .n_blog_sc_tr_item .section-title {text-transform: initial;}

.n_paddign_sec_divi_2{    padding: 20px;}
.text-left h2.section-title{text-align: left;}
.text-left p{text-align: left;}
/*.n_static_slider .slick-track{overflow: hidden;}*/
.text-left .n_big_video_thubnail_data{text-align: center;}
.text-left p{text-align: left!important;}
.n_big_video_thubnail_data .btn.btn-sm{margin: 0px;}
.box-graph-in .timi-klisimatos{height: 100%;}
/*.box-graph-in .timi-klisimatos .timi-klisimatos-in {    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;}*/
    .timi-klisimatos-in{height: 85%;display: flex;align-items: center;}
  /*  .n1_slider_partner {height: 100%;}
    .n1_slider_partner .slick-list{height: 100%}
    .n1_slider_partner .slick-track{height: 100%}
    .n1_slider_partner .slick-slide {height: 100%;}
    .n1_slider_partner .slick-slide > div{height: 100%;}*/
    #irrelease-financial .slick-vertical .slick-slide{border-bottom: 1px solid rgb(255 255 255 / 0.2);}

.timi-klisimatos-in iframe{z-index: auto;}
.irrelease-report-title {text-align: center;}
.box-graph-title{text-align: center;}
.irrelease-financial-title {text-align: center;}
.dropdown_container{display: none;}
.dropdown_container.active{display: block;}
.position_intial{position: inherit;}
.dropdown_menu_link{
    background-color: var(--themeblue);
    padding: 30px;
    height: 100%;
}
.dropdown_menu_heading{
    text-align: left;
    font-size: 22px;
    /* border-bottom: 2px solid #ffffff; */
    font-weight: 600;
    color: #fff;
}
.header .c-header-wrap .dropdown_menu_link ul{
    padding-top: 10px;
}
.header .c-header-wrap .dropdown_menu_link ul li{
    display: block;
    text-align: left;
}
.dropdown_menu_link_data{
    position: relative;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.dropdown_menu_content{
    text-align: left;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dropdown_menu_data_dynamic{
    padding-bottom: 30px;
}
.dropdown_menu_data_dynamic_content{
    font-size: 20px;
    font-weight: 100;
    /* font-family: 'FreightText-Pro-Light'; */
}
.dropdown_menu_link li:hover{
    background: #ffffff;
}
.dropdown_menu_link li:hover a{color: #333!important;}
.menu_container-sub{
    padding-right: 100px;
}
.dropchildli.active{background: #ffffff;}
.dropchildli.active a{color: #212529!important;}
.dropdown_menu_data_dynamic{display: none;}
.dropdown_menu_data_dynamic.active{display: block;}
.js-submenu.hide .dropdown_container{display: none;}
.dropdown_container.active{display: block;}
.close_dropdown{
    position: absolute;
    top: 23px;
    right: -41px;
    font-size: 24px;
    cursor: pointer;
}
.dropdown_menu_heading span img{
    width: 20px;
    margin-left: 10px;
}
.main_p_menu::before{content: '';}
.header .c-header-wrap .c-nav-wrapper nav ul li a.btn_enq_header_n1::before{display: none;}
.header .c-header-wrap .c-nav-wrapper nav ul li a.search_header_btn::before{display: none;}
.header .c-header-wrap .has-sub-menu .dropdown-list .dropchildli a{color: #fff;}
.dropchildli a::before{
    content: "\f101";
    position: absolute;
    speak: no-punctuation;
    top: 10px;
    font-family: 'FontAwesome';
    width: 0px;
    display: none;
}
.dropchildli.active a::before
{
    left: 15px;
    display: block;
}
.header .c-header-wrap .has-sub-menu .dropchildli.active a{
    padding-left: 30px!important;
}
.blog_slider_n  div {
}
.blog_slider_n .content-details{
    display: flex;
    align-items: center;
    transform: none;
    justify-content: center;
    background: var(--themeblue);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    top: auto;
    left: 0px;
    right: 0px;
}
.position_relative{position: relative;}
.cust-card.blog_slider_n.n_home_slider
{
    box-shadow: 0 2px 5px 0 rgb(255 255 255 / 16%), 0 2px 10px 0 rgb(86 76 76 / 12%);
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 0px;
    /* height: 270px; */
}
.cart_three{
        box-shadow: 0 2px 5px 0 rgb(255 255 255 / 16%), 0 2px 10px 0 rgb(86 76 76 / 12%);
        border-radius: 5px;
        overflow: hidden;
        margin-bottom: 0px;
        height: 270px;
}
.blog_slider_n.n_home_slider .slick-dots{
    bottom: 53px;
}
.blog_slider_n .content{
    height: 270px;
}
.blog_slider_n .content a{
    display: block;
    height: 100%;
}
.card_details_bottom_ds{
    background: var(--themeblue);
    padding: 5px;
    position: absolute;
    bottom: 0px;
    top: revert;
    /* left: 0px; */
    /* right: 0px; */
    color: #fff;
    /* display: block; */
    margin: 0px;
    /* font-family: FreightText-Pro-Light; */
    font-size: 16px;
    line-height: 22px;
    justify-content: center;
    text-align: center;
    height: auto!important;
    }

   .blog_slider_n..n_home_slider .slick-dots li.slick-active button{background: var(--themeblue);}
   .video_play .close{
    color: #333;
    opacity: 1;
    right: -40px;
    top: -40px;
    position: absolute;
    font-size: 30px;
}


/*about us page */
/*.about-us-page*/
.about-img-three {
    position: relative;
    text-align: center;
    z-index: 1;
    margin-bottom: 30px;
}

.about-img-three img {
     max-width: 100%;
     height: auto;
     box-shadow: 0 4px 5px 0 rgb(189 170 170 / 14%), 0 1px 10px 0 rgb(183 147 147 / 12%), 0 2px 4px -1px rgb(88 80 80 / 30%);
     border-radius: 5px;
     width: 100%;
}
.about-img-three .about-shape-3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.about-content {margin-bottom: 60px;margin-left: 50px;margin-top: -5px;position: relative;background: var(--secbg);padding: 40px 40px;padding-top: 80px;}
.about-content span {
    color: #333;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}
.about-content h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
.about-content h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.about-shape-3 img{
    /* width: 368px; */
    /* margin-top: -24px; */
}
.about-content p{
    /* line-height: 24px; */
}

.about-content::after{/* content: ''; */top: -50px;bottom: -50px;left: -15px;background: #f9f8ff;position: absolute;width: 500px;z-index: -1;}
.opposit_leadership{
    text-align: right;
}
.opposit_leadership .about-content::after{
    left: auto;
    right: -15px;
}
.about_data_content p{
    /* line-height: 24px; */
    margin-bottom: 00px;
    text-align: left;
}
.about_data_content h3 {
    font-size: 20px;
    margin-bottom: 0px;
}
.mrb-20{margin-bottom: 20px;}

.member .pic {
    position: relative;
}
.member .pic img {
    width: 100%;
    position: relative;
}
.member .pic .social {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: auto;
    background-color: var(--themeblue);
    /* height: 40px; */
    padding-left: 15px;
    top: auto;
    bottom: 0px;
    transform: none;
    display: flex;
    align-items: center;
    padding-right: 5px;
    color: #fff;
    font-size: 14px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.member .pic .social:before {
    display: block;
    content: " ";
    width: 20px;
    height: 100%;
    background-color: var(--themeblue);
    position: absolute;
    left: -15px;
    -moz-transform: skewX(30deg);
    -o-transform: skewX(30deg);
    transform: skewX(
329deg
);
    -ms-transform: skewX(30deg);
    -webkit-transform: skewX(
346deg
);
    z-index: 1;
    top: 0px;
}
.member .info {
    text-align: center;
}
.member .info h3 {
    margin: 25px 0 9px 0;
    text-transform: uppercase;
    font-size: 20px;
}
.member .info h3:after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--themeblue);
    margin: 5px auto 0 auto;
}
.member .info p {
    margin-bottom: 0px;
    line-height: 24px;
}
.team_sub_heading{
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    color: var(--themeblue);
}
.member.inviewport
{
    padding: 0px 10px;
    cursor: pointer;
}

.other_manament_slider_n .slick-prev
{
    
background: var(--themeblue);
    
color: #fff;
    
opacity: 1;
}
.other_manament_slider_n .slick-next
{
    
background: var(--themeblue);
}
.other_manament_slider_n .slick-prev:before{
content: "\f104";
font-family: 'FontAwesome';
}
.other_manament_slider_n .slick-next:before{
content: "\f105";
font-family: 'FontAwesome';
}
.mrb_0{margin-bottom: 0px!important;}
.team_quotes.team_quotes_bottom
{
    top: auto;
    left: auto;
    right: 40px;
    bottom: 0px;
}
.team_quotes.team_quotes_right_top{
    right: 40px;
}
.team_quotes.team_quotes_left_bottom
{
    bottom: 0px;
    top: auto;
}


/*new investor relation section */
.investor_relation__card_nd1{
    padding: 50px 10px;
    /* height: 100%; */
}
.investor_relation_image_nd1 img{
    width: 100%;
    border: 1px solid #33333326;
}
.investor_relation_image_nd1{
    padding: 4px;
}
.slider_2_item{}
.investor_relation_section_nd1{
    /* background-image: linear-gradient(
75deg
, rgb(50 87 115) 10%, rgb(239 65 61)) !important; */
    /* padding: 41px 0px; */
    position: relative;
    margin-bottom: 30px;
}




.slider_2_item .slick-dots li button{
      background: #D6D6D6;
      padding: 0px;
    opacity: 1;
    width: 38px;
    height: 5px;
    border-radius: 30px;
}
.slider_2_item .slick-dots li button::before{display: none;}
.slider_2_item .slick-dots li{width: auto;height: auto;}
.slider_2_item .slick-dots{bottom: -20px;}
.slider_2_item .slick-dots li.slick-active button{background: #333;}
.investor_relation_heading_nd1{
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin-right: 0px;
    position: relative;
}
.investor_relation_heading_nd1.shareholder_hds
{
    margin-right: 50px;
}

.investor_relation_division_nd1_left{
    /* background-image: linear-gradient( 
75deg
 , rgb(50 87 115) 10%, rgb(239 65 61)) !important; */
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgb(255 251 251 / 14%), 0 1px 10px 0 rgb(212 191 191 / 12%), 0 2px 4px -1px rgb(224 214 214 / 30%);
    background: #fff;
}
.investor_relation__video_nd1{
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 4px 5px 0 rgb(255 251 251 / 14%), 0 1px 10px 0 rgb(212 191 191 / 12%), 0 2px 4px -1px rgb(224 214 214 / 30%);
}
.investor_relation__video_nd1 img{
    width: 100%;
}
.investor_relation__card_nd1 .ver_align{}
.investor_relation_section_nd1::after{content: '';position: absolute;top: -100px;bottom: -60px;left: 100px;right: 100px;background: #f9f8ff;z-index: -1;}
.highlights_card_nd1{
    /* background: #fff; */
    padding: 9px 20px;
    /* height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 5px 0 rgb(255 251 251 / 14%), 0 1px 10px 0 rgb(212 191 191 / 12%), 0 2px 4px -1px rgb(224 214 214 / 30%); */
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}
.highlights_card_nd1 h4{
    font-size: 20px;
    text-align: center;
    color: #333;
    margin-bottom: 0px;
}
.highlights_card_nd1 h4 span{
    color: #2dccd3;
    font-size: 24px;
}
.slider_nd1_container{
    padding: 30px;
}
.slider_item_list_nd1{
    padding: 10px;
}
.investor_relation_division_nd1_left.investor_relation__card_nd1.investor_relation__video_nd1
{
    padding: 50px 30px;
    text-align: center;
}
.pdlr_30{
    padding: 30px 30px;
}
.n_home_slider.slick-dotted.slick-slider{
    margin-bottom: 0px;
}
#top_banner .owl-dots span {
    width: 38px!important;
    height: 5px!important;
}
#top_banner .owl-dots {
    position: absolute;
    bottom: 0;
    width: 70%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
}
#top_bannermobile .owl-dots span {
    width: 38px!important;
    height: 5px!important;
}
#top_bannermobile .owl-dots {
    position: absolute;
    bottom: 0;
    width: 70%;
    transform: translate(-50%,-50%);
    left: 50%;
    text-align: center;
}
.about-content p{/* font-size: 18px; */}
.mrb_40{
    margin-bottom: 40px;
}
.mrt_40{
    margin-top: 40px;
}

/*new investor relation */
.lp-home-banner-video {
    position: relative;
}
.lp-enterprenure-arrow {
    position: absolute;
    right: -80px;
    z-index: 9;
    top: -40px;
}
.lp-enterprenure .lp-home-banner-video h5 {
    font-size: 14px;
    font-weight: 700;
}
.lp-video-img-outer {
    width: auto;
    position: relative;
    /* display: inline-block; */
    border-radius: 7px;
    overflow: hidden;
}
.lp-enterprenure .lp-video-img-outer {
    border-radius: 5px;
    -webkit-box-shadow: -1px 4px 18px 0px rgb(0 0 0 / 27%);
    -moz-box-shadow: -1px 4px 18px 0px rgba(0,0,0,0.27);
    box-shadow: -1px 4px 18px 0px rgb(0 0 0 / 27%);
    margin: 0px;
    height: 234px;
}
.lp-home-banner-video .video1 {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
.lp-home-banner-video a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: block;
    z-index: 9;
}
.lp-home-banner-video a .fa {
    background: rgba(255,255,255,.5);
    border-radius: 100%;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 14px;
    color: #fff;
}
.lp-home-banner-video .lp-video-img-outer-feature a .fa {
    background: transparent !important;
    font-size: 60px;
}
.lp-enterprenure {
    background: #ffca5a;
}
.padding-bottom-20 {
    padding-bottom: 20px;
}
.padding-top-20 {
    padding-top: 20px;
}
.lp-enterprenure-content>h3 {
    font-size: 26px;
    font-weight: 700;
    color: #333;
}
.lp-enterprenure-content>p {
    font-size: 19px;
    color: #333;
    margin-bottom: 15px;
    line-height: 25px;
}
.lp-enterprenure-content-facts {
    /* background: rgba(0,0,0,.1); */
    border-radius: 5px;
    margin-top: 20px;
    min-height: 125px;
    position: relative;
    padding: 5px;
}
.lp-enterprenure-content-facts-inner {
    background: var(--themeblue);
    height: 150px;
}
.lp-enterprenure-content-facts-inner img{
    width: 100%;
}
.justify-center{justify-content: center;}
.shareholders_logo_n2{
    margin: 0px;
    padding: 16px;
}
.shareholders_logo_n2 li{
    line-height: normal;
    display: inline-block;
}
.shareholders_logo_n2 ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.shareholders_logo_n2 li img{
    width: 300px;
}
.shareholders_logo_n2 li h4{}

.pdb_0{padding-bottom: 0px!important;}
.sec_padding_n2{
    padding: 80px 30px;
}
.lp-enterprenure-content-facts-inner h4
{
    color: #fff;
}
.lp-enterprenure-content-facts-inner h4 span{
    color: #fff;
    font-size: 18px;
    font-weight: 800;
}

/*c and i solution */
.c_and_i_feature_product_item img{
    width: 100%;
    height: 200px;
}
.c_and_i_feature_product_item {
    /* margin: 5px; */
    /* background: #fff; */
    padding: 0px 20px;
}
.c_and_i_feature_product_item_content{
    padding: 0px;
    /* height: 150px; */
}
.c_and_i_feature_product_item_content ul{
    padding-right: 10px;
}
.c_and_i_feature_product_item_content h4{
    margin-bottom: 10px;
    padding: 15px;
    background: var(--themeblue);
    color: #fff;
    font-size: 24px;
}
.c_and_i_feature_product_item_content ul li{
    font-size: 19px;
    margin: 10px 0px;
}
.c_and_i_feature_product_item .card_white{
    background: #fff;
    box-shadow: 1px -3px 9px 0 rgb(204 175 175 / 14%), -7px -18px 19px -2px rgb(228 228 228 / 12%), 0 1px 5px 0 rgb(241 214 214 / 20%);
    border-radius: 3px;
    overflow: hidden;
}


.c_and_i_feature_product_list .slick-prev
{
    
background: var(--themeblue);
    
left: 0px;
    
top: 25%;
z-index: 3;
}
.c_and_i_feature_product_list .slick-next
{
    
background: var(--themeblue);
    
right: 0px;
    
top: 25%;
}
.c_and_i_feature_product_list .slick-prev:before{
content: "\f104";
font-family: 'FontAwesome';
}
.c_and_i_feature_product_list .slick-next:before{
content: "\f105";
font-family: 'FontAwesome';
}
.mr-bottom70 {
    margin-bottom: 70px;
}
.neg32 {
    margin-top: -32px;
}
.neg90 {
    margin-top: -90px;
}
.testimoniial_sllider_container_n2{
    width: 90%;
    /* margin: auto; */
    position: relative;
}
.testimoniial_sllider_n2_list{/* margin-right: 10px; */}
.testimoniial_sllider_n2_card {
    background: #fff;
    box-shadow: 0 4px 5px 0 rgb(255 233 233 / 14%), 0 1px 10px 0 rgb(117 92 92 / 12%), 0 2px 4px -1px rgb(253 226 226 / 30%);
    padding: 78px;
    border-radius: 2px;
    margin: 10px;
    height: 480px;
}
.testimoniial_sllider_n2_image img{
    width: 100%;
    max-height: 200px;
    /* border: 1px solid #f7e6e6; */
}
.testimoniial_sllider_n2_card p{
    margin: 0px;
}
.testimoniial_sllider_n2_image{
    /* margin-left: 0px; */
    text-align: center;
    margin-bottom: -50px;
    border: 1px solid #e4dddd;
    padding: 5px;
    background: #fff;
    width: 100%;
}
.testimonial_slider_btn_n2{
    text-align: center;
    position: absolute;
    right: 50px;
    bottom: 30px;
    z-index: 9;
}
.testimonial_slider_btn_n2 ul{
    padding: 0px;
    margin: 0px;
    display: flex;
    list-style: none;
    /* justify-content: flex-end; */
}
.testimonial_slider_btn_n2 li{
    margin: 5px;
    font-size: 20px;
    background: var(--themeblue);
    color: #fff;
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 0px;
    cursor: pointer;
    display: block!important;
}
.testimonial_slider_btn_n2 .fa{}
.contact-visit .contact-visit-link{
    padding-top: 0px;
    border-radius: 0px;
    padding: 0px 10px;
}

.visit h3{
    font-weight: 800;
    font-size: 20px;
}
.Client_speak_detail_n1{
    margin-bottom: 20px;
}
.Client_speak_detail_n1 p{
    font-size: 20px;
    line-height: 26px;
}
.Client_speak_detail_dsc_n1 p{
    line-height: 30px;
    font-size: 18px;
}
.color_grey{
    color: grey;
}
.c_and_i_praise p span{
    color: var(--themeblue);
}
.testimoniial_sllider_n2_card p.color_grey{
    font-size: 16px;
}
.c_and_i_sec_n1{
    padding: 0px 0px;
    /* display: inline-block; */
}
.c_and_i_sec_n1 ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* display: flex; */
    justify-content: center;
}
.theme-accordian-list-item {
    display: block;
    padding: 0px;
    transition: all 1s;
    border-radius: 4px;
    /* box-shadow: 0 2px 2px 0 rgb(247 230 230 / 14%), 0 3px 1px -2px rgb(255 251 251 / 12%), 0 1px 5px 0 rgb(142 122 122 / 20%); */
    margin-bottom: 20px;
    /* border-bottom: 1px solid #bdabab; */
    border-radius: 0px;
}
.c_and_i_sec_card_n1{
    font-size: 19px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: var(--themecolor);
    position: relative;
    background: var(--themeblue);
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.c_and_i_sec_n1 li:hover{/* box-shadow: 1px 4px 4px 0 rgb(232 219 219 / 14%), -2px 2px 10px 0 rgb(119 107 107 / 12%), 1px 8px 4px -1px rgb(255 230 230 / 30%); *//* border-bottom: 1px solid #bdabab; *//* border-radius: 0px; *//* cursor: pointer; */}
.dropdown_menu_heading::before{content: '';width: 40%;left: 0px;height: 2px;background: #fff;position: absolute;bottom: 0px;}
.enquire_now .modal-body{
    padding: 35px;
}
.investor_relation_heading_nd1::before{content: '';position: absolute;bottom: -5px;left: 50%;background: var(--themeblue);width: 50px;height: 3px;transform: translate(-50%,0%);}
.contact-visit .contact-visit-link span{
    font-weight: 100;
    font-size: 18px;
    top: -4px;
    position: relative;
    color: #c5c5c5;
}
.contact-visit .nav-item{
    margin-right: 20px;
}
.row_align{align-items: center;}
.c_and_i_praise p:hover{
        background-size: 4px 15%;
}
.n_blog_other .investor_relation_heading_nd1::before{
    left: 0px;
    transform: none;
}
.shareholders_logo_n2.investor_relation_heading_nd1::before{}
.testimoniial_sllider_n2_list .slick-list{
    /* padding-right: 10px; */
}
.mar_l_minus{
    margin-left: -50px;
}
.testimoniial_sllider_n2_item .align_center{
    /* justify-content: flex-end; */
}
.testimoniial_sllider_n2_item{
    padding-right: 10px;
}
.mrb_80{margin-bottom: 80px;}
.about-content.about-content-style-two.last_d
{
    margin-bottom: 0px;
}
.c_and_i_sec_card_n1 img{
    margin-right: 10px;
}
.solution_item_container{
    padding: 20px;
    cursor: default;
    font-size: 19px;
    /* background: var(--themeblue); */
    border-bottom: 1px solid #e8dada;
}
.solution_item_container ul{
    list-style: disc;
    /* padding-left: 30px; */
    text-align: left;
}
.collapse_postion{
    position: absolute;
    right: 20px;
    color: #fff;
    transition: all 1s;
}
.collapse_postion::before{content: "\f107";font-family: 'FontAwesome';font-weight: 300;}
.theme-accordian-list-item.active .collapse_postion::before{    content: "\f106";}
.investor_relation_heading_nd1.left_line::before{
    left: 0px;
    transform: none;
}

#Solutions .investor_relation_heading_nd1{}
.solution_img{
    padding: 30px 0px;
}
.solution_img img{
    width: 100%;
    max-width: 80%;
}
.default_listing 
{
    padding-left: 30px!important;
    position: relative;
}
.default_listing li{
    display: block!important;
    list-style: circle;
    position: relative;
    padding-left: 20px;
}
.default_listing li::before{content: '';width: 6px;height: 6px;background: #333;position: absolute;left: 0px;border-radius: 50%;top: 11px;}
h2.section-title.transparent_heading{
    font-size: 9rem;
    line-height: 6rem;
    font-weight: 900;
    -webkit-text-stroke: 1px #b4bbbf;
    -webkit-text-fill-color: #fff;
    text-transform: capitalize;
    font-family: Gordita,sans-serif;
    margin-bottom: 80px;
}
section{
    position: relative;
}

.intro-line-container {
    /* position: absolute; */
    top: 0;
    width: 100%;
    /* left: 50%; */
    /* transform: translate(-50%,0%); */
    position: relative;
}
.intro-line-container {
    height: 7.8vw;
    max-height: 150px;
    margin-top: -130px;
    margin-bottom: 60px;
}
.intro-line-container .intro-line {
    content: "";
    display: block;
    width: 1.4px;
    height: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .8s cubic-bezier(.45,0,.55,1);
}
.intro-line-container .intro-line.-reveal {
    height: 100px;
}
.intro-line-container.-dark .intro-line {
    background-color: var(--themecolor);
}
.intro-line-container.aos-animate .intro-line {height: 100%;}
.intro-line-container.-dark.aos-init{
    opacity: 1;
    transition-timing-function: unset;
    transition-duration: unset;
}
.mobile_item_dn_n1_card li a:hover{
    color: var(--themeblue);
}
.vlog_slider_item{position: relative;height: 100%;}
.vlog_slider {
    margin-bottom: 0px!important;
    height: 100%;
}
.vlog_slider div{
    height: 100%;
}
.sec_white{background: #fff;}
.mrb_60{margin-bottom: 60px;}




.vlog_slider  .slick-dots li button{
      background: #D6D6D6;
      padding: 0px;
    opacity: 1;
    width: 38px;
    height: 5px;
    border-radius: 30px;
}
.vlog_slider .slick-dots li button::before{display: none;}
.vlog_slider .slick-dots li{width: auto;height: auto;}
.vlog_slider .slick-dots{bottom: 54px;}
.vlog_slider .slick-dots li.slick-active button{background: var(--themeblue);}
.list_icon li{
    position: relative;
    padding-left: 22px;
    margin-bottom: 10px;
}
.list_icon li img{
    position: absolute;
    left: 0px;
    width: 15px;
    height: 15px;
    top: 7px;
}
.list_icon{
    list-style: none;
    padding-left: 0px;
    margin-top: 11px;
}
.align_v_ab{
    display: flex;
    align-items: center;
    margin-right: -45px;
    position: relative;
    z-index: 9;
}
.theme-accordian-list .theme-accordian-list-item:last-child .solution_item_container{
    border: 0px;
}

.project_listing {}
.project_listing .c_and_i_feature_product_item{
    margin-bottom: 60px;
}


/*filter section */
.pl-filter {
    text-align: center;
}
.filter_list{}
.filter_list ul{
line-height: normal;
margin: 0px;
padding: 0px;
text-align: center;
}

.filter_list li{
    display: inline-block;
    text-align: left;
    margin: 0px 20px;
}

.blue_sec{
    background: var(--themeblue);
    padding: 40px 0px;
}
.hard_button{
    background: var(--themecolor);
    border: 0px;
    color: #fff;
}
.filter_list label{
    color: #fff;
    font-size: 18px;
}
.filter_list .hard_button{
    /* margin-left: 40px; */
    color: #fff!important;
    border-color: #fff!important;
    box-shadow: navajowhite;
}
.theme_pagination .btn_pagelink .page-link{
    background: var(--themecolor);
    color: #fff!important;
}
.theme_pagination .page-item.active .page-link{
    background-color: var(--themecolor);
    box-shadow: none;
}
.pagination .page-item .page-link{
    border: 1px solid #dac6c6;
}
.theme_pagination{
    justify-content: center;
}
.projects_filter h3{margin-bottom: 25px;font-size: 30px;}
.filter_list .hard_button.btnallred::before{
    background: #fff;
}
.filter_list .hard_button.btnallred::after{
    background: #fff;
}
.btnallred span{}

.filter_list .hard_button.btnallred span::before{
    background: #fff;
}
.filter_list .hard_button.btnallred span::after{
    background: #fff;
}
.color_sec{
    background: var(--theme);
}
.pdb_0{padding-bottom: 0px;}

.highlights_nd1 .slick-slide:nth-child(2) .slider_item_list_nd1{border-left: 2px solid #333;border-right: 2px solid #333;}
.white_btn.hard_button{
    border-color: #fff!important;
    color: #fff;
}
.btnallred.white_btn::before{
    background: #fff;
}
.btnallred.white_btn::after{background: #fff;}
.btnallred.white_btn span::before{background: #fff;}
.btnallred.white_btn span::after{background: #fff;}



.upcoming_event_slider .slick-prev
{
    
background: var(--themeblue);
    
color: #fff;
    
opacity: 1;
}
.upcoming_event_slider .slick-next
{
    
background: var(--themeblue);
}
.upcoming_event_slider .slick-prev:before{
content: "\f104";
font-family: 'FontAwesome';
}
.upcoming_event_slider .slick-next:before{
content: "\f105";
font-family: 'FontAwesome';
}
.plant-desc h4{font-size: 18px;}
.investor_relation_heading_nd1.left::before{
    left: 0%;
    transform: none;
}
.cal_video{
    margin-bottom: 20px;
}
.cal_video iframe{}

.video-gallery::-webkit-scrollbar{
  width: 5px;
}
.video-gallery::-webkit-scrollbar-thumb {
  background-color: var(--secbg);
  border-radius: 6px;
}

.offering_below_list{
display: flex;
}
.lineseperatot::before{content: '';left: 0px;width: 1px;background: var(--theme);position: absolute;top: 50%;bottom: 12px;height: 50px;}
.lineseperatot::after{content: '';right: 0px;width: 1px;background: var(--theme);position: absolute;top: 50%;bottom: 12px;height: 50px;}

.offering_below_list .slider_item_list_nd1{
    padding: 0px 30px;
    position: relative;
}

.lg-toolbar .lg-icon {
    display: none;
}
.lg-toolbar .lg-close.lg-icon {
    display: block;
}
.lg-close.lg-icon {
    display: block !important;
}

.lg-toolbar .lg-close:after {
        content: "\f00d";
    font-family: 'FontAwesome';
}

.lg-actions .lg-prev:after {
      content: "\f177";
      font-family: 'FontAwesome';
}

.lg-actions .lg-next:before {
    font-family: 'FontAwesome';
    content: "\f178";
}
.lg-outer .lg-toogle-thumb:after {
    font-family: 'FontAwesome';
    content: "\f00a";
}
.video-gallery li a img{
    width: 20px;
}
.icon_list{}
.icon_list li::before{content: '';background-image: url(../images/bullet-1.png);position: absolute;width: 15px;height: 15px;background-size: 100%;left: 0px;top: 8px;}
.icon_list li{
    list-style: none;
    padding-left: 30px;
    position: relative;
}
.highlights_nd1_img{
    width: 100px;
}
#our-value h3.post-title{
    font-size: 18px;
}
.upcoming_project_card_transparent{
    /* border-bottom: 1px solid #c5c5c5; */
    height: 100%;
    margin-bottom: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
}
.upcoming_project_card_transparent img{
    margin-bottom: 0px;
    width: 60px;
}
.upcoming_project_card_transparent p{
    font-size: 16px;
    line-height: 28px;
    /* text-align: center; */
    margin-bottom: 0px;
}
.upcoming_project_card_transparent h4{
    font-size: 24px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.upcoming_event_slider_heading{
    margin-bottom: 40px;
}

.upcoming_event_slider_item .row .col-md-6:nth-child(3) .upcoming_project_card_transparent::before{content: '';content: '';right: 0px;background: #ffffff5c;width: 1px;height: 60%;position: absolute;top: 50%;transform: translate(0%,-50%);}
.upcoming_event_slider_item .row .col-md-6:nth-child(4) .upcoming_project_card_transparent::before{ content: '';
    
margin: 0px;
    
border: 0px;
}
.upcoming_event_slider_item .row .col-md-6:nth-child(3) .upcoming_project_card_transparent::after{content: '';}
.upcoming_event_slider_item .row .col-md-6:nth-child(4) .upcoming_project_card_transparent::after{ content: '';
  

}

.upcoming_event_slider_item .row .col-md-6:nth-child(1) .upcoming_project_card_transparent::before{content: '';right: 0px;background: #ffffff5c;width: 1px;height: 60%;position: absolute;top: 50%;transform: translate(0%,-50%);}
.upcoming_event_slider_item .row .col-md-6:nth-child(2) .upcoming_project_card_transparent::before{ content: '';}
.upcoming_event_slider_item .row .col-md-6:nth-child(1) .upcoming_project_card_transparent::after{content: '';left: 50%;background: #ffffff5c;width: 60%;height: 1px;position: absolute;bottom: 0px;transform: translate(-50%,0%);}
.upcoming_event_slider_item .row .col-md-6:nth-child(2) .upcoming_project_card_transparent::after{content: '';content: '';left: 50%;background: #ffffff5c;width: 60%;height: 1px;position: absolute;bottom: 0px;transform: translate(-50%,0%);}

.upcoming_event_slider_item .col-md-6{position: relative;/* margin-bottom: 20px; */}  
.about-content.about-content-style-two
{
    min-height: 450px;
}
.opposit_leadership .about-content{
    margin-left: 0px;
}
.about-content.about-content-style-two.style_2{
    margin-left: 0px;
}
.upcoming-cart_overlay{
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}
.upcoming_event_slider_item .plant-placeholder{
    padding: 15px;
}
.make_happy .footer-copy h3{
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 40px;
    opacity: 1;
    /* line-height: 1.5; */
    color: var(--themecolor);
    /* display: block; */
    }
    .make_happy .footer-slider-wrapper .footer-slider span{
    color: #000;
    opacity: 1;
}
.opecity_04{opacity: 0.5;}
.gallery-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    padding-top: 0px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.94);
}

#gallermodal .mySlides4{display: none;}
.gallery-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 9;
    cursor: pointer;
}
.gallery_next {
    position: absolute;
    top: 50%;
    right: 15%;
}
.gallery_prev {
    position: absolute;
    top: 50%;
    left: 15%;
}

.career-sec2bottom h3 {
    /* font-family: GarageFonts-FreightText-Pro-Medium!important; */
    text-align: center;
    margin-bottom: 118px;
}
.gallery-popup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.career-right-tabs-img img{width: 100%;}
.career-sec5-text .highlight-text{
    margin-bottom: 20px;
}
.inside_tab_bg{background: var(--secbg);padding: 10px;margin-left: 26px;}

#our-value .sec_box_blue .property-item .content:before{}
#our-value .sec_box_blue .property-item .content .excerpt{}
.align_n_center{
    display: flex;
    align-items: center;
    height: 100%;
}
.coe_images_bg{text-align: center;}
.coe_images_bg img{max-width: 100%;}
.contact_form_n1{
    width: 60%;
    margin: auto;
    background: var(--secbg);
    padding: 30px;
    border-radius: 13px;
}

.accordion .card-header a p::before {
    position: absolute;
    content: '';
    width: 20px;
    background-image: url(../images/remove.png);
    height: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
    left: 0px;
    top: 12px;
}

.accordion .card-header a.collapsed p::before {
    position: absolute;
    content: '';
    width: 20px;
    background-image: url(../images/plus.png);
    height: 20px;
    background-size: 15px;
    background-repeat: no-repeat;
    left: 0px;
    top: 12px;
}
.accordion .card-header a p {
    padding-left: 25px;
    position: relative;
}

.bgel-sec-3 a {
    color: #000!important;
    text-decoration: none;
    text-align: left;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: var(--secbg);
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.box-shadow-none {
    box-shadow: none;
}
.bgel-investor-border-right {
    width: 58%;
    /* bottom: 56px; */
    top: 145px;
    position: absolute;
    /* right: 0; */
    display: initial;
    height: 1px;
    background-color: #efefef;
    transform: rotate(
90deg
);
    right: -93px;
}

.disc_tbl_head {
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
    margin-bottom: 0px;
    text-align: center;
}
.mobile_item_dn_n1_card .card_listing_n1{
   
}
.mobile_item_dn_n1_card .card_listing_n1 li{
    margin-bottom: 8px;
    list-style: none;
}
.card.box-shadow-none .card-body {
    padding: 0px;
}
.disc_tbl_data {
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #f7f7f7;
    padding: 8px 20px;
    margin-bottom: 0px;
    text-align: center;
}

#columns figure {
    transition: opacity .4s ease-in-out;
    width: 24%;
}
.newsrom-card {
    box-shadow: none;
    position: relative;
}
.newsrom-card .card-body {
    background-color: var(--themeblue);
    color: #fff;
}
.newsrom-card .card-body p {
    /* color: #000!important; */
    font-size: 19px!important;
    line-height: 1.6;
}
.newsrom-card .card-body h4 {
    font-weight: bold;
    line-height: 1.5;
}
.newsrom-card .card-body p {
    /* color: #000!important; */
    font-size: 19px!important;
    line-height: 1.6;
}
.card .card-body .card-text {
    color: #747373;
    font-size: .9rem;
    font-weight: 400;
}
.newsrom-card .card-body a {
    color: #fff;
    text-decoration: none;
}
.searhcnews{
    position: absolute;
    right: 11px;
    top: 0px;
    width: 400px;
    bottom: 0px;
}
.searhcnews input{
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #333;
    font-size: 20px;
    line-height: 40px;
}
.newsroom-container-heading{
    position: relative;
}
.search_inline_btn{
    background: transparent;
    border: 0px;
    color: #333;
    position: absolute;
    right: 0px;
}
.blog-pipe-small {
    border-right: 1px solid #c1c1c1;
    height: 100%;
    /* margin-top: 14px; */
    /* float: right; */
    right: 0;
    position: absolute;
    top: 66px;
}
.date-retelling {
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 25px;
}
.retelling-heading {

    text-transform: uppercase;
    line-height: 1.5;
}
.highlight-pra-padd {
    /* padding-top: 60px; */
}
.contact-visit-link:hover {
    color: red!important;
    text-decoration: underline;
}
.contact-visit-link.active {
    color: var(--theme)!important;
    /*text-decoration: underline;*/
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
}
.blog-vertical-tab .nav-item {
    width: 100%;
    display: block;
}
.blog-padd {
    padding: 36px 0px 0px 44px;
}
.blog-card .card-body {
    background-color: #51ced8;
    color: #fff;
}

.blog-card .card-body a {
    color:#fff;
    text-decoration: none!important;
}
.blog-card .card-body p {
   
font-size: 19px!important;
   
line-height: 1.6;
}
.csr-rightside-slide-change .card{}
.vid-container iframe, .vid-container object, .vid-container embed {
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    width: 96%;
    min-height: 360px;
    z-index: -1;
    right: 10px;
}
.video-scroll-block {
    overflow-x: hidden;
}
.vid-list-container {
    height: 450px;
    overflow: hidden;
}
.ol#vid-list {
    margin: 0;
    padding: 0;
}
.ol#vid-list li {
    list-style: none;
    height: 100px;
}
.ol#vid-list li a {
    text-decoration: none;
    /* background-color: #222; */
    height: 60px;
    display: block;
    padding: 10px;
}
.vid-thumb {
    float: left;
    margin-right: 8px;
}

#vid-list .desc {
    color: #CACACA;
    font-size: 14px;
    color: black;
    margin-top: 5px;
}

#Health-Safety-and-Environment .sec_box_blue .property-item .content .excerpt{
    /* border: 0px; */
    /* margin-top: 0px; */
    /* padding: 0px; */
}
.awards_datal_container_item{
    margin-bottom: 10px;
}
.awards_datal_container_item p{
    font-weight: 100;
    line-height: 30px;
}
.award-data{}
.awards {
    background-image:url(../images/7.png);
    position: relative;
}
.awards h2.section-title{color: #fff!important;}
.awards::before{content: '';position: absolute;right: 0px;left: 0px;top: 0px;bottom: 0px;background: #00000073;}
.award-data{color: #333;}
.awards_datal_container_item p span {
    font-weight: 800;
    color: var(--theme);
}
#Health-Safety-and-Environment .sec_box_blue .property-item .content{
    max-width: 500px;
}
.health_ims img{width: 100%;}
.sec_box_blue .post-title.para_title{    font-size: 18px;}
.award-data .list_icon li p{
    line-height: 24px;
    font-size: 16px;
}
.text_t{
    font-weight: 700;
}
.theme_blue{
    background: #184155;
}
hr.hr-border{
    border-color: #fff;
}


.list_icon li::before{
   content: '';
    position: absolute;
    background-image: url(../images/bullet-1.png);
    width: 15px;
    height: 15px;
    left: 0px;
    background-size: 100% 100%;
    top: 8px;
}

/* latest for dynamkc  */
.table-col-info .sec_bg.text-wrapper{    margin-bottom: 30px;}
.table-col-info:nth-child(1) .text-wrapper {
    width: 100%;
    background: var(--themeblue);
    margin-top: 30px;
    color: #fff;
}
.table-col-info:nth-child(3) .text-wrapper {
    width: 100%;
    background: var(--themeblue);
    margin-top: 30px;
    color: #fff;
}
.card_details_bottom_ds{left: 0px;right: 0px;}
.desktop-hidden{display: none!important;}
.centermodel.show{
    display: flex!important;
    align-items: center!important;
}


.blog_slider_n .slick-dots {
    bottom: 60px;
}
.blog_slider_n .slick-dots li {
    width: auto;
    height: auto;
}
.blog_slider_n .slick-dots li button {
    background: #D6D6D6;
    padding: 0px;
    opacity: 1;
    width: 38px;
    height: 5px;
    border-radius: 30px;
}
.blog_slider_n .slick-dots li.slick-active button {
    background: var(--theme);
}
.blog_slider_n .slick-dots li button:before{display: none;}
.centermodel{font-size: 17px;}
.centermodel p{font-size: 17px;}
.read_m_n1{    display: block;
    padding: 8px 15px!important;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;}
    .dropdown_menu_content p{margin-bottom: 0px;}
    .card_details_bottom_ds p{    color: #fff;
    display: block;
    margin: 0px;
        display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 16px;}
    .pagination .page-item.active .page-link{background: var(--theme);}
    .download_esia_report{    margin-top: 20px;}
    .mr_btn_same{    margin-top: 25px;}
    .ci_videod_gallery_btn{    text-align: center;
    position: relative;}
    .ci_videod_gallery_btn::before{    content: '';
    height: 1px;
    width: 100%;
    background: #333;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 18px;}
    .ci_videod_gallery_btn a{
    color: var(--theme);
    background: #fff;
    position: relative;
    z-index: 9;
    padding: 0px 10px;
}
.list_disclouser_list a p.discloser_link_title{ font-size: 15px;
font-size: 15px;
    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin: 0px;
}
.list_disclouser_list .pd_0{padding: 0px;}
.list_disclouser_list .row{margin: 0px;}
#filterdata .col-md-4{transition: all 3s;}
.list_disclouser_list .card-body a {
    border: 1px solid #f2f2f2;
    height: 69px;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    text-align: left;
    padding: 0px 16px;
}


    .ui-widget.ui-widget-content{    width: 100%!important;
    left: 0px!important;
    right: 0px!important;
    position: fixed!important;
    top: 0px!important;
    bottom: 0px;}
    .ui-widget.ui-widget-content iframe{}
    .pdfmodal{}
    .pdfmodal div{    height: 100%;}
    .pdfmodal iframe{    z-index: 9;
    width: 100%;
    height: 100%;}
