@media only screen and (min-width:768px) and (max-width:1024px){
}
 @media (max-width: 767px) {
     .d-hidden{
        display: block!important;
    }
     #header-menu{
        height: 0px;
        transition: all 1s;
    }
     .float_header{
         position: absolute;
         right: 0px;
         cursor: pointer;
         z-index: 9;
         display: flex;
    }
     .float_header .search_header_btn{
         display: block;
         margin-right: 38px;
    }
     .float_header img{
        width: 100%
    }
     .c-logo-wrap{
        position: relative;
    }
     #header-menu.active{
         height: auto;
         transition: all 1s;
    }
     .header .c-header-wrap .c-nav-wrapper ul li{
         display: block;
         text-align: left;
    }
     .menu_container-sub{
        display: none;
    }
     .js-menu-init{
         padding-top: 20px;
         border-top: 1px solid #e8d7d7;
         margin-top: 15px;
    }
     .dropdown_container{
         position: inherit;
         transform: none;
         left: 0px;
         right: 0px;
         margin: 0px;
         width: 100%;
         box-shadow: none;
    }
     .header .c-header-wrap .c-nav-wrapper nav ul li a.btn_enq_header_n1{
         margin-left: 13px;
    }
     .m-hidden{
        display: none!important;
    }
     .header{
         padding: 10px 0px;
         overflow: hidden;
    }
     .n_home_slider_item_data h4{
         font-size: 31px;
    line-height: 40px;
    }
     .verticle_right_slider{
        /*text-align: center;*/
    }
     .n_home_slider_item{
         min-height: 50vh;
         background-size: 100% 100%;
         padding: 15px 15px;
    }
     h2.section-title{
         font-size: 40px;
         margin-bottom: 20px;
    }
     .table-col-info{
        position: relative;
        margin-bottom: 0px;
    }
     .table-col-info .text-wrapper.changeColorElement{
         position: absolute;
         bottom: 0px;
         z-index: 999;
         left: 15px;
         right: 14px!important;
         margin-bottom: 0px;
         background: var(--theme)!important;
         color: #fff;
         display: block;
         transform: none;
         width: auto;
    }

 .n_middle_statics .table-col-info:nth-child(1) .changeColorElement{
     margin-bottom: 0px;
}
 .investor_relation_heading_nd1.shareholder_hds{
     margin-right: 0px;
}
 .shareholders_logo_n2 li img{
     width: 100%;
}
 .lp-home-banner-video{
     margin-bottom: 30px;
}
 .n_video_section h2.section-title.n1_blog_heading{
    font-size: 40px;
}
 .n_big_video_thubnail_data{
    margin-bottom: 30px;
}
 .box_3_div{
     margin-bottom: 30px;
}
 .blog_slider_n.n_home_slider .slick-dots{
     bottom: 100px;
}
 .cart_three{
     height: auto;
}
 .blog_slider_n .content-details{
     position: inherit;
}
 .card_details_bottom_ds{
     position: inherit;
     display: -webkit-box;
     -webkit-box-orient: vertical;
     -webkit-line-clamp: 1;
     overflow: hidden;
}
 .video__play__icon{
     width: 70px;
     height: 70px;
     top: 35%;
}
 .blog_slider_n .content{
    height: auto;
}
 .f-list{
     max-height: initial;
}
 .footer ul{
     padding: 0px;
}
 .footer hr{
     width: 89%;
     margin-left: 0px;
}
 .table-col-info.table-col-info_last {
     margin-bottom: 0px;
}
 section.infoSection{
     padding-top: 60px;
}
 .n_home_slider_item_data p{
     font-size: 20px;
}
 .sec_padding_n2{
     padding: 40px 15px;
}
 .about-content{
     padding: 40px 15px;
     padding-top: 80px;
}
 .team_quotes{
     left: 10px;
}
 .team_quotes.team_quotes_bottom{
     right: 15px;
}
 .team_quotes.team_quotes_right_top{
     right: 15px;
}
 .other_manament_slider_n .slick-next{
     right: 0px;
}
 .other_manament_slider_n .slick-prev{
     left: 0px;
     z-index: 99;
}
 .sec_box_blue .property-item{
     display: block;
     padding: 0px;
}
 .sec_box_blue{
     width: 100%;
     position: relative;
}
 .sec_box_blue .property-item.horizontal .thumb{
     width: 100%;
     min-height: auto;
}
 .sec_box_blue .property-item.horizontal .thumb img{
     position: inherit;
}
 #our-value .sec_box_blue .property-item .content:before{
    display: none;
}
 .sec_box_blue .property-item .content{
     padding: 15px;
}
 .c_and_i_feature_product_item{
     padding: 0px;
}
 .upcoming_project_card_transparent::before{
    display: none!important;
}
 .upcoming_event_slider_item .plant-placeholder{
     padding: 0px;
}
 .upcoming_project_card_transparent{
     padding: 10px 0px;
}
 .upcoming_project_card_transparent h4{
     font-size: 18px;
}
 .upcoming_project_card_transparent p{
     font-size: 14px;
}
 .upcoming_project_card_transparent::after{
    display: none!important;
}

 .offering_below_list{
     display: block;
}
 .testimoniial_sllider_n2_card{
     padding: 15px;
     height: auto;
     margin: 0px;
     box-shadow: none;
}
 .testimoniial_sllider_n2_image{
     margin: 0px;
}
 .mar_l_minus{
     margin: 0px;
}
 .testimoniial_sllider_container_n2{
     width: 100%;
}
 .testimonial_slider_btn_n2{

    left: 50%;
    transform: translate(-50%,0%);
    right: auto;
    bottom: -40px;

}
 .rts-assessment-bgcolor{
     padding: 0px 15px;
}
 .rts-assessment-bgcolor .assessment-form .investor_relation_heading_nd1.left::before{
     left: 50%;
     transform: translate(-50%,0%);
}
 .cal_video{
     margin-top: 30px;
}
 .theme_sec{
     padding: 15px;
}
 .about_data_content .text-center{
     text-align: left!important;
}
 .searchmodal_container .btn_theme{
     padding: 0px 20px;
}
 .searchmodal_container_item{
     width: 100%;
}
 .searchmodal_container .form-control{
     padding: 15px 15px;
     padding-left: 40px;
}
 .searchmodal_container span{
     top: 18px;
}
 .searchmodal_container{
     display: block;
     padding: 76px 0px;
}
 .searchmodal .close{
     z-index: 999;
     position: relative;
}
 .investors_r_card_1 .tile-inner{
    display: block;
}
 .investors_r_card_1{
     width: 100%;
}
 .investors_r_card_1 .image-wrapper{
    width: 100%;
    padding: 15px;
}
 .investors_r_card_1 .content-wrapper{
     width: 100%;
     padding: 15px;
}
 .investors_r_card_1 .image-wrapper img{
     width: 100%;
}
 .investors_r_with_page{
        margin-top: -50px;
}
 .governance_n1_instructuin img{
     width: 100%;
}
 .n_video_section{
       padding: 40px 10px;
}
 .mobile_item_dn_n1{
     margin-bottom: 15px;
}
 .mobile_item_dn_n1_card{
     height: auto;
}
 .card_readmore_dn_n1{
     position: inherit;
     left: 0px;
}
 .sec_box_blue .property-item .content:before{
    display: none;
}
 .career-form{
     padding: 40px 15px;
}
 .contact_form_n1{
    width: 100%;
}
 .date-retelling{
     margin-top: 0px;
}
 #columns figure{
     width: 100%;
     transform: none!important;
     position: inherit!important;
}
 .newsroom-sec2bottom #columns{
     height: auto!important;
}
 .searhcnews{
     position: inherit;
     width: 100%;
     left: 0px;
     right: 0px;
}
 .search_inline_btn{
     top: 10px;
}
 .policy-padd{
     padding: 15px 15px;
}
 .slick-next{
     right: 0px;
}
 .slick-prev{
     left: 0px;
     z-index: 9;
}
 h2.section-title.mrb_0{
     margin-bottom: 20px!important;
}
 .c_and_i_feature_product_item_content ul{
     padding-left: 15px;
}
 .mySlides4 img{
     width: 100%;
}
 #directormodal img{
     margin-bottom: 30px;
}
 .career-tab-bgcolor{
     margin: 0px;
}
 .career-divimg{
    position: initial;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 30px;
}
 .career-right-tabs-img{
     position: initial;
     width: auto;
     text-align: center;
}
 ul.tabs li{
     display: inline-block;
     margin-bottom: 0px;
}
 .career-right-tabs-img img{
     width: 80px;
     position: inherit;
}
 .career-tab-link-img{
     margin: 0px;
     width: auto;
}
 .blog-padd{
     padding: 0px;
}
 .mobile-hidden{
    display: none;
}
 .desktop-hidden{
    display: block!important;
}
 .blog_slider_n .slick-prev {
     background: var(--themeblue);
     color: #fff;
     opacity: 1;
}
 .blog_slider_n .slick-prev:before {
     content: "\f104";
     font-family: 'FontAwesome';
}
 .blog_slider_n .slick-next:before {
     content: "\f105";
     font-family: 'FontAwesome';
}
 .blog_slider_n .slick-next {
     background: var(--themeblue);
}
 .mobile-hightlight .slick-prev {
     background: var(--themeblue);
     color: #fff;
     opacity: 1;
}
 .mobile-hightlight .slick-prev:before {
     content: "\f104";
     font-family: 'FontAwesome';
}
 .mobile-hightlight .slick-next:before {
     content: "\f105";
     font-family: 'FontAwesome';
}
 .mobile-hightlight .slick-next {
     background: var(--themeblue);
}
 .text-wrapper-caption .info-number {
     font-size: 24px;
     line-height: 28px;
}
 .table-col-info .text-wrapper{
    padding: 5px 5px;
}
 .mobile_investor_logo_n1{
}
 .mobile_investor_logo_n1 img{
     max-width: 100%;
}
 .mobile-hightlight.mobile_investor_logo_n1 .slick-prev{
    left: -15px;
    display: none!important;
}
 .mobile-hightlight.mobile_investor_logo_n1 .slick-next{
    right: -15px;
    display: none!important;
}
 .mobile_investor_logo_n1 .slick-track{
     display: flex;
     align-items: center;
}
 #top_banner .owl-dots{
}
 #top_banner .owl-dots{
     transform: translate(-50%,0%);
}
 .video_overlay1 iframe{
     width: 100%;
     height: auto;
     z-index: 99;
}
 .video_play{
     width: 100%;
     left: 0px;
     transform: none;
     bottom: 0px;
     top: 0px;
     display: flex;
     align-items: center;
     padding: 15px;
}
 .video_play .close{
        float: none;
    top: 20px;
    right: 26px;
}
.highlights_nd1 .slick-slide:nth-child(2) .slider_item_list_nd1{border-left: 0px!important;border-right: 0px!important;}
.n_big_video_thubnail {margin-bottom: 30px;}
.projects_filter h3{    margin-bottom: 14px;
    font-size: 20px;}
    .filter_list li:nth-child(1){    width: 50%;
    float: left;
    margin: 0px;}
    .filter_list li:nth-child(2){    width: 50%;
    float: left;
    margin: 0px;}
    .filter_list li{text-align: center;    padding: 0px 5px;}
    .filter_list label{    font-size: 15px;}
    .sec_padding_n2.project_listing{padding: 40px 0px;}
    .sec_box_blue .property-item .content{    max-width: 100%;}
    .download_esia_report{
    margin-bottom: 20px;
}
.health_ims{    margin-bottom: 20px;
}
#Health-Safety-and-Environment .sec_box_blue .property-item .content{}
#Health-Safety-and-Environment .theme_blue{background: transparent;}
.testimonial_slider_btn_n2{}
.testimoniial_sllider_n2_image img{height: auto;max-height: initial;}
.testimoniial_sllider_n2_image{}
.testimoniial_sllider_n2_list .slick-slide{height: 300px;}
.testimoniial_sllider_n2_list .slick-slide.slick-current.slick-active{height: auto;}
.mobile-hightlight.Shareholders_mobile-slider .slick-next{right: 15px;}
.mobile-hightlight.Shareholders_mobile-slider .slick-prev{left: 15px;}
.mobile_menu_btn.active .closemenu_n1{display: block!important;}
.mobile_menu_btn.active .openmenu_n1{display: none!important;}
.float_header img.closemenu_n1{    width: 20px;}
.d-hidden.mobile_menu_btn{width: 30px;
    height: 30px;
    display: flex!important;
    align-items: center;}
    .mobile-hightlight.Shareholders_mobile-slider .slick-arrow{display: none!important;}
/*.theme_blue_bg_sec_box{bac}*/
.mobile_menu_dropdown_close{}
.mobile_menu_dropdown_close img{}
.dropdown_container.active{display: none;}
.dropclassactie .dropdown_container.active{display: block;}
.dropclassactie .dropdown_container{display: none;}
.header .c-header-wrap .c-nav-wrapper ul li a.main_p_menu.active:before {
    width: 0px;
}

.header .c-header-wrap .c-nav-wrapper ul li.dropclassactie a.main_p_menu:hover::before {
    width: 100%;
}
.upcoming_event_slider .slick-slide{height: 600px;}
.upcoming_event_slider .slick-slide.slick-current.slick-active{height: auto;}
.mh-275.lefttop{margin-top: 0px;}
.mr-bottom70{margin-bottom: 0px;}
.divcustom2 .col-container-4{padding: 15px!important;margin: 0px;height: auto;}
.divcustom2 .slick-slide{height: 200px;}
.divcustom2 .slick-slide.slick-active{height: auto;}
.reasons-heading{position: inherit;
    top: auto;
    left: auto!important;
    transform: none;
    text-align: center;}
    .lineseperatot::before{display: none;}
    .lineseperatot::after{display: none;}
    .c_and_i_sec_card_n1{    padding-right: 40px;text-align: left;}
   .about-sec4-tabs ul.tabs li{padding: 0px;}
   .about-sec4-tabs ul.tabs {margin-bottom: 20px;}
  .n_video_section .career-sec5-content h2.section-title{text-align: center;}
  .back-to-top{    bottom: 84px;}
  .divcustom2.mobile-hightlight
  {padding: 0px 25px;}
  .reasonhead-right {
    height: 15px;
    padding-top: 10px;
}
.divcustom2 .colaction{padding: 0px;}
.n_home_slider_item_data p {display: none;}
.mobile_change_query_details .contact-visit ul{display: block;}
.mobile_change_query_details .contact-visit li{}
.mobile_change_query_details .contact-visit{}
.mobile_change_query_details .contact-visit-link{    font-size: 16px;
    border: 0px;padding: 0px;}
.mobile_change_query_details .video-pipe-small{display: none;}
.newsroom-tab .contact-visit-link{
font-size: 18px;
}
.blog-container p{
    word-break: break-all;
}
}